@page "/find-freelancer"

<AuthorizeView Roles="Freelancer">
    <NotAuthorized>
        <NavMenu />
        
        <main>
        <!-- Breadcrumb -->
        <section
            class="w-breadcrumb-area"
            style="
            background: url('img/common/breadcrumb-bg.png') no-repeat
                center center/cover;
            "
        >
            <div class="container">
            <div class="row">
                <div class="col-auto">
                <div
                    class="position-relative z-2 hero-two-title text-white fw-bold mb-4">
                    <h2 class="section-title-light mb-2">Find Freelancer</h2>
                </div>
                </div>
            </div>
            </div>
        </section>
        <!-- Breadcrumb End -->

        <!-- Freelancers Start -->
        <section class="py-110 bg-offWhite">
            <div class="container">
            <div class="row justify-content-between mb-40">
                <div class="col-xl-auto col-12">
                <div class="d-flex flex-wrap gap-3">
                    <!-- Category -->
                    <div class="custom-dropdown dropdown">
                    <button
                        class="custom-dropdown-toggle dropdown-toggle"
                        type="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        All Categories
                        <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="12"
                        height="6"
                        viewBox="0 0 12 6"
                        fill="none"
                        >
                        <path
                            d="M12 0.633816C11.9468 0.446997 11.8569 0.28353 11.6806 0.158011C11.3811 -0.0492418 10.9485 -0.0550799 10.649 0.155092C10.5925 0.195958 10.5359 0.239744 10.4826 0.286449C9.02519 1.56499 7.5644 2.84645 6.10694 4.125C6.07367 4.15419 6.04705 4.18922 5.96719 4.24176C5.94389 4.20673 5.93059 4.16294 5.89731 4.13375C4.42654 2.84062 2.95245 1.5504 1.48168 0.257257C1.22213 0.0295716 0.922652 -0.0579998 0.563279 0.0412478C0.0408573 0.1872 -0.172104 0.776848 0.157321 1.16216C0.193924 1.20595 0.237182 1.24681 0.280439 1.28768C1.97748 2.7764 3.67119 4.26511 5.36823 5.75091C5.67769 6.02238 6.07034 6.07492 6.42639 5.89394C6.5129 5.85015 6.58944 5.78594 6.65931 5.72464C8.30644 4.27971 9.95024 2.83478 11.6007 1.39277C11.7837 1.23222 11.9468 1.06875 12 0.838149C12 0.771011 12 0.703873 12 0.633816Z"
                            fill="#06131C"
                        />
                        </svg>
                    </button>
                    </div>
                   
                    
                    <!-- Rating -->
                    <div class="custom-dropdown dropdown">
                    <button
                        class="custom-dropdown-toggle dropdown-toggle"
                        type="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        Rating
                        <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="12"
                        height="6"
                        viewBox="0 0 12 6"
                        fill="none"
                        >
                        <path
                            d="M12 0.633816C11.9468 0.446997 11.8569 0.28353 11.6806 0.158011C11.3811 -0.0492418 10.9485 -0.0550799 10.649 0.155092C10.5925 0.195958 10.5359 0.239744 10.4826 0.286449C9.02519 1.56499 7.5644 2.84645 6.10694 4.125C6.07367 4.15419 6.04705 4.18922 5.96719 4.24176C5.94389 4.20673 5.93059 4.16294 5.89731 4.13375C4.42654 2.84062 2.95245 1.5504 1.48168 0.257257C1.22213 0.0295716 0.922652 -0.0579998 0.563279 0.0412478C0.0408573 0.1872 -0.172104 0.776848 0.157321 1.16216C0.193924 1.20595 0.237182 1.24681 0.280439 1.28768C1.97748 2.7764 3.67119 4.26511 5.36823 5.75091C5.67769 6.02238 6.07034 6.07492 6.42639 5.89394C6.5129 5.85015 6.58944 5.78594 6.65931 5.72464C8.30644 4.27971 9.95024 2.83478 11.6007 1.39277C11.7837 1.23222 11.9468 1.06875 12 0.838149C12 0.771011 12 0.703873 12 0.633816Z"
                            fill="#06131C"
                        />
                        </svg>
                    </button>
                    <ul class="custom-dropdown-menu dropdown-menu">
                        <li class="dropdown-item">
                        <div class="gap-3 align-items-center d-flex">
                            <input
                            type="checkbox"
                            class="form-check-input shadow-none"
                            name="rating"
                            id="five"
                            />
                            <label class="form-check-label" for="five">
                            <svg
                                width="121"
                                height="20"
                                viewBox="0 0 121 20"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                d="M21 7.94546C20.8497 8.09537 20.6993 8.28276 20.549 8.43268C18.9705 9.81939 17.3921 11.1686 15.8136 12.5178C15.6632 12.6303 15.6257 12.7427 15.7008 12.9301C16.1894 15.0289 16.678 17.1652 17.1666 19.264C17.2417 19.5263 17.2041 19.7512 16.9786 19.9011C16.7531 20.051 16.5276 20.0136 16.3022 19.9011C14.423 18.7768 12.5815 17.6524 10.7023 16.5281C10.552 16.4156 10.4392 16.4156 10.2889 16.5281C8.44735 17.6524 6.56821 18.7768 4.72665 19.8636C4.57632 19.9761 4.38841 20.0136 4.20049 19.9761C3.89983 19.9011 3.7495 19.6013 3.82467 19.264C4.12533 18.0272 4.38841 16.7904 4.68907 15.5536C4.91457 14.6541 5.10248 13.7546 5.32798 12.8552C5.36556 12.7052 5.32798 12.6303 5.21523 12.5178C3.59917 11.1311 2.02069 9.74443 0.404632 8.35772C0.329466 8.28276 0.2543 8.24529 0.216718 8.17033C0.0288037 8.02041 -0.0463619 7.83302 0.0288037 7.57067C0.103969 7.3458 0.291883 7.23336 0.51738 7.19589C0.855625 7.15841 1.19387 7.12093 1.5697 7.12093C3.11059 6.97101 4.65149 6.85858 6.22996 6.70866C6.53063 6.67119 6.83129 6.63371 7.13195 6.63371C7.28228 6.63371 7.35745 6.55875 7.39503 6.44631C8.25943 4.42247 9.08626 2.43611 9.95066 0.412264C10.0634 0.187393 10.1762 0.0374786 10.4392 0C10.7399 0.0749571 10.9278 0.187393 11.0406 0.487221C11.4916 1.53662 11.9425 2.6235 12.3935 3.6729C12.807 4.60986 13.1828 5.58431 13.5962 6.52127C13.6338 6.63371 13.7089 6.70866 13.8593 6.70866C15.0619 6.8211 16.2646 6.89606 17.5048 7.00849C18.482 7.08345 19.4967 7.19589 20.4738 7.27084C20.7369 7.30832 20.8873 7.45824 21 7.68311C21 7.75806 21 7.8705 21 7.94546Z"
                                fill="#22BE0D"
                                />
                                <path
                                d="M71 7.94546C70.8497 8.09537 70.6993 8.28276 70.549 8.43268C68.9705 9.81939 67.3921 11.1686 65.8136 12.5178C65.6632 12.6303 65.6257 12.7427 65.7008 12.9301C66.1894 15.0289 66.678 17.1652 67.1666 19.264C67.2417 19.5263 67.2041 19.7512 66.9786 19.9011C66.7531 20.051 66.5276 20.0136 66.3022 19.9011C64.423 18.7768 62.5815 17.6524 60.7023 16.5281C60.552 16.4156 60.4392 16.4156 60.2889 16.5281C58.4473 17.6524 56.5682 18.7768 54.7267 19.8636C54.5763 19.9761 54.3884 20.0136 54.2005 19.9761C53.8998 19.9011 53.7495 19.6013 53.8247 19.264C54.1253 18.0272 54.3884 16.7904 54.6891 15.5536C54.9146 14.6541 55.1025 13.7546 55.328 12.8552C55.3656 12.7052 55.328 12.6303 55.2152 12.5178C53.5992 11.1311 52.0207 9.74443 50.4046 8.35772C50.3295 8.28276 50.2543 8.24529 50.2167 8.17033C50.0288 8.02041 49.9536 7.83302 50.0288 7.57067C50.104 7.3458 50.2919 7.23336 50.5174 7.19589C50.8556 7.15841 51.1939 7.12093 51.5697 7.12093C53.1106 6.97101 54.6515 6.85858 56.23 6.70866C56.5306 6.67119 56.8313 6.63371 57.132 6.63371C57.2823 6.63371 57.3574 6.55875 57.395 6.44631C58.2594 4.42247 59.0863 2.43611 59.9507 0.412264C60.0634 0.187393 60.1762 0.0374786 60.4392 0C60.7399 0.0749571 60.9278 0.187393 61.0406 0.487221C61.4916 1.53662 61.9425 2.6235 62.3935 3.6729C62.807 4.60986 63.1828 5.58431 63.5962 6.52127C63.6338 6.63371 63.7089 6.70866 63.8593 6.70866C65.0619 6.8211 66.2646 6.89606 67.5048 7.00849C68.482 7.08345 69.4967 7.19589 70.4738 7.27084C70.7369 7.30832 70.8873 7.45824 71 7.68311C71 7.75806 71 7.8705 71 7.94546Z"
                                fill="#22BE0D"
                                />
                                <path
                                d="M46 7.94546C45.8497 8.09537 45.6993 8.28276 45.549 8.43268C43.9705 9.81939 42.3921 11.1686 40.8136 12.5178C40.6632 12.6303 40.6257 12.7427 40.7008 12.9301C41.1894 15.0289 41.678 17.1652 42.1666 19.264C42.2417 19.5263 42.2041 19.7512 41.9786 19.9011C41.7531 20.051 41.5276 20.0136 41.3022 19.9011C39.423 18.7768 37.5815 17.6524 35.7023 16.5281C35.552 16.4156 35.4392 16.4156 35.2889 16.5281C33.4473 17.6524 31.5682 18.7768 29.7267 19.8636C29.5763 19.9761 29.3884 20.0136 29.2005 19.9761C28.8998 19.9011 28.7495 19.6013 28.8247 19.264C29.1253 18.0272 29.3884 16.7904 29.6891 15.5536C29.9146 14.6541 30.1025 13.7546 30.328 12.8552C30.3656 12.7052 30.328 12.6303 30.2152 12.5178C28.5992 11.1311 27.0207 9.74443 25.4046 8.35772C25.3295 8.28276 25.2543 8.24529 25.2167 8.17033C25.0288 8.02041 24.9536 7.83302 25.0288 7.57067C25.104 7.3458 25.2919 7.23336 25.5174 7.19589C25.8556 7.15841 26.1939 7.12093 26.5697 7.12093C28.1106 6.97101 29.6515 6.85858 31.23 6.70866C31.5306 6.67119 31.8313 6.63371 32.132 6.63371C32.2823 6.63371 32.3574 6.55875 32.395 6.44631C33.2594 4.42247 34.0863 2.43611 34.9507 0.412264C35.0634 0.187393 35.1762 0.0374786 35.4392 0C35.7399 0.0749571 35.9278 0.187393 36.0406 0.487221C36.4916 1.53662 36.9425 2.6235 37.3935 3.6729C37.807 4.60986 38.1828 5.58431 38.5962 6.52127C38.6338 6.63371 38.7089 6.70866 38.8593 6.70866C40.0619 6.8211 41.2646 6.89606 42.5048 7.00849C43.482 7.08345 44.4967 7.19589 45.4738 7.27084C45.7369 7.30832 45.8873 7.45824 46 7.68311C46 7.75806 46 7.8705 46 7.94546Z"
                                fill="#22BE0D"
                                />
                                <path
                                d="M96 7.94546C95.8497 8.09537 95.6993 8.28276 95.549 8.43268C93.9705 9.81939 92.3921 11.1686 90.8136 12.5178C90.6632 12.6303 90.6257 12.7427 90.7008 12.9301C91.1894 15.0289 91.678 17.1652 92.1666 19.264C92.2417 19.5263 92.2041 19.7512 91.9786 19.9011C91.7531 20.051 91.5276 20.0136 91.3022 19.9011C89.423 18.7768 87.5815 17.6524 85.7023 16.5281C85.552 16.4156 85.4392 16.4156 85.2889 16.5281C83.4473 17.6524 81.5682 18.7768 79.7267 19.8636C79.5763 19.9761 79.3884 20.0136 79.2005 19.9761C78.8998 19.9011 78.7495 19.6013 78.8247 19.264C79.1253 18.0272 79.3884 16.7904 79.6891 15.5536C79.9146 14.6541 80.1025 13.7546 80.328 12.8552C80.3656 12.7052 80.328 12.6303 80.2152 12.5178C78.5992 11.1311 77.0207 9.74443 75.4046 8.35772C75.3295 8.28276 75.2543 8.24529 75.2167 8.17033C75.0288 8.02041 74.9536 7.83302 75.0288 7.57067C75.104 7.3458 75.2919 7.23336 75.5174 7.19589C75.8556 7.15841 76.1939 7.12093 76.5697 7.12093C78.1106 6.97101 79.6515 6.85858 81.23 6.70866C81.5306 6.67119 81.8313 6.63371 82.132 6.63371C82.2823 6.63371 82.3574 6.55875 82.395 6.44631C83.2594 4.42247 84.0863 2.43611 84.9507 0.412264C85.0634 0.187393 85.1762 0.0374786 85.4392 0C85.7399 0.0749571 85.9278 0.187393 86.0406 0.487221C86.4916 1.53662 86.9425 2.6235 87.3935 3.6729C87.807 4.60986 88.1828 5.58431 88.5962 6.52127C88.6338 6.63371 88.7089 6.70866 88.8593 6.70866C90.0619 6.8211 91.2646 6.89606 92.5048 7.00849C93.482 7.08345 94.4967 7.19589 95.4738 7.27084C95.7369 7.30832 95.8873 7.45824 96 7.68311C96 7.75806 96 7.8705 96 7.94546Z"
                                fill="#22BE0D"
                                />
                                <path
                                d="M121 7.94546C120.85 8.09537 120.699 8.28276 120.549 8.43268C118.971 9.81939 117.392 11.1686 115.814 12.5178C115.663 12.6303 115.626 12.7427 115.701 12.9301C116.189 15.0289 116.678 17.1652 117.167 19.264C117.242 19.5263 117.204 19.7512 116.979 19.9011C116.753 20.051 116.528 20.0136 116.302 19.9011C114.423 18.7768 112.581 17.6524 110.702 16.5281C110.552 16.4156 110.439 16.4156 110.289 16.5281C108.447 17.6524 106.568 18.7768 104.727 19.8636C104.576 19.9761 104.388 20.0136 104.2 19.9761C103.9 19.9011 103.75 19.6013 103.825 19.264C104.125 18.0272 104.388 16.7904 104.689 15.5536C104.915 14.6541 105.102 13.7546 105.328 12.8552C105.366 12.7052 105.328 12.6303 105.215 12.5178C103.599 11.1311 102.021 9.74443 100.405 8.35772C100.329 8.28276 100.254 8.24529 100.217 8.17033C100.029 8.02041 99.9536 7.83302 100.029 7.57067C100.104 7.3458 100.292 7.23336 100.517 7.19589C100.856 7.15841 101.194 7.12093 101.57 7.12093C103.111 6.97101 104.651 6.85858 106.23 6.70866C106.531 6.67119 106.831 6.63371 107.132 6.63371C107.282 6.63371 107.357 6.55875 107.395 6.44631C108.259 4.42247 109.086 2.43611 109.951 0.412264C110.063 0.187393 110.176 0.0374786 110.439 0C110.74 0.0749571 110.928 0.187393 111.041 0.487221C111.492 1.53662 111.943 2.6235 112.394 3.6729C112.807 4.60986 113.183 5.58431 113.596 6.52127C113.634 6.63371 113.709 6.70866 113.859 6.70866C115.062 6.8211 116.265 6.89606 117.505 7.00849C118.482 7.08345 119.497 7.19589 120.474 7.27084C120.737 7.30832 120.887 7.45824 121 7.68311C121 7.75806 121 7.8705 121 7.94546Z"
                                fill="#22BE0D"
                                />
                            </svg>
                            </label>
                        </div>
                        </li>
                        <li class="dropdown-item">
                        <div class="gap-3 align-items-center d-flex">
                            <input
                            type="checkbox"
                            class="form-check-input shadow-none"
                            name="rating"
                            id="four"
                            />
                            <label class="form-check-label" for="four">
                            <svg
                                width="121"
                                height="20"
                                viewBox="0 0 121 20"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                d="M21 7.94546C20.8497 8.09537 20.6993 8.28276 20.549 8.43268C18.9705 9.81939 17.3921 11.1686 15.8136 12.5178C15.6632 12.6303 15.6257 12.7427 15.7008 12.9301C16.1894 15.0289 16.678 17.1652 17.1666 19.264C17.2417 19.5263 17.2041 19.7512 16.9786 19.9011C16.7531 20.051 16.5276 20.0136 16.3022 19.9011C14.423 18.7768 12.5815 17.6524 10.7023 16.5281C10.552 16.4156 10.4392 16.4156 10.2889 16.5281C8.44735 17.6524 6.56821 18.7768 4.72665 19.8636C4.57632 19.9761 4.38841 20.0136 4.20049 19.9761C3.89983 19.9011 3.7495 19.6013 3.82467 19.264C4.12533 18.0272 4.38841 16.7904 4.68907 15.5536C4.91457 14.6541 5.10248 13.7546 5.32798 12.8552C5.36556 12.7052 5.32798 12.6303 5.21523 12.5178C3.59917 11.1311 2.02069 9.74443 0.404632 8.35772C0.329466 8.28276 0.2543 8.24529 0.216718 8.17033C0.0288037 8.02041 -0.0463619 7.83302 0.0288037 7.57067C0.103969 7.3458 0.291883 7.23336 0.51738 7.19589C0.855625 7.15841 1.19387 7.12093 1.5697 7.12093C3.11059 6.97101 4.65149 6.85858 6.22996 6.70866C6.53063 6.67119 6.83129 6.63371 7.13195 6.63371C7.28228 6.63371 7.35745 6.55875 7.39503 6.44631C8.25943 4.42247 9.08626 2.43611 9.95066 0.412264C10.0634 0.187393 10.1762 0.0374786 10.4392 0C10.7399 0.0749571 10.9278 0.187393 11.0406 0.487221C11.4916 1.53662 11.9425 2.6235 12.3935 3.6729C12.807 4.60986 13.1828 5.58431 13.5962 6.52127C13.6338 6.63371 13.7089 6.70866 13.8593 6.70866C15.0619 6.8211 16.2646 6.89606 17.5048 7.00849C18.482 7.08345 19.4967 7.19589 20.4738 7.27084C20.7369 7.30832 20.8873 7.45824 21 7.68311C21 7.75806 21 7.8705 21 7.94546Z"
                                fill="#22BE0D"
                                />
                                <path
                                d="M71 7.94546C70.8497 8.09537 70.6993 8.28276 70.549 8.43268C68.9705 9.81939 67.3921 11.1686 65.8136 12.5178C65.6632 12.6303 65.6257 12.7427 65.7008 12.9301C66.1894 15.0289 66.678 17.1652 67.1666 19.264C67.2417 19.5263 67.2041 19.7512 66.9786 19.9011C66.7531 20.051 66.5276 20.0136 66.3022 19.9011C64.423 18.7768 62.5815 17.6524 60.7023 16.5281C60.552 16.4156 60.4392 16.4156 60.2889 16.5281C58.4473 17.6524 56.5682 18.7768 54.7267 19.8636C54.5763 19.9761 54.3884 20.0136 54.2005 19.9761C53.8998 19.9011 53.7495 19.6013 53.8247 19.264C54.1253 18.0272 54.3884 16.7904 54.6891 15.5536C54.9146 14.6541 55.1025 13.7546 55.328 12.8552C55.3656 12.7052 55.328 12.6303 55.2152 12.5178C53.5992 11.1311 52.0207 9.74443 50.4046 8.35772C50.3295 8.28276 50.2543 8.24529 50.2167 8.17033C50.0288 8.02041 49.9536 7.83302 50.0288 7.57067C50.104 7.3458 50.2919 7.23336 50.5174 7.19589C50.8556 7.15841 51.1939 7.12093 51.5697 7.12093C53.1106 6.97101 54.6515 6.85858 56.23 6.70866C56.5306 6.67119 56.8313 6.63371 57.132 6.63371C57.2823 6.63371 57.3574 6.55875 57.395 6.44631C58.2594 4.42247 59.0863 2.43611 59.9507 0.412264C60.0634 0.187393 60.1762 0.0374786 60.4392 0C60.7399 0.0749571 60.9278 0.187393 61.0406 0.487221C61.4916 1.53662 61.9425 2.6235 62.3935 3.6729C62.807 4.60986 63.1828 5.58431 63.5962 6.52127C63.6338 6.63371 63.7089 6.70866 63.8593 6.70866C65.0619 6.8211 66.2646 6.89606 67.5048 7.00849C68.482 7.08345 69.4967 7.19589 70.4738 7.27084C70.7369 7.30832 70.8873 7.45824 71 7.68311C71 7.75806 71 7.8705 71 7.94546Z"
                                fill="#22BE0D"
                                />
                                <path
                                d="M46 7.94546C45.8497 8.09537 45.6993 8.28276 45.549 8.43268C43.9705 9.81939 42.3921 11.1686 40.8136 12.5178C40.6632 12.6303 40.6257 12.7427 40.7008 12.9301C41.1894 15.0289 41.678 17.1652 42.1666 19.264C42.2417 19.5263 42.2041 19.7512 41.9786 19.9011C41.7531 20.051 41.5276 20.0136 41.3022 19.9011C39.423 18.7768 37.5815 17.6524 35.7023 16.5281C35.552 16.4156 35.4392 16.4156 35.2889 16.5281C33.4473 17.6524 31.5682 18.7768 29.7267 19.8636C29.5763 19.9761 29.3884 20.0136 29.2005 19.9761C28.8998 19.9011 28.7495 19.6013 28.8247 19.264C29.1253 18.0272 29.3884 16.7904 29.6891 15.5536C29.9146 14.6541 30.1025 13.7546 30.328 12.8552C30.3656 12.7052 30.328 12.6303 30.2152 12.5178C28.5992 11.1311 27.0207 9.74443 25.4046 8.35772C25.3295 8.28276 25.2543 8.24529 25.2167 8.17033C25.0288 8.02041 24.9536 7.83302 25.0288 7.57067C25.104 7.3458 25.2919 7.23336 25.5174 7.19589C25.8556 7.15841 26.1939 7.12093 26.5697 7.12093C28.1106 6.97101 29.6515 6.85858 31.23 6.70866C31.5306 6.67119 31.8313 6.63371 32.132 6.63371C32.2823 6.63371 32.3574 6.55875 32.395 6.44631C33.2594 4.42247 34.0863 2.43611 34.9507 0.412264C35.0634 0.187393 35.1762 0.0374786 35.4392 0C35.7399 0.0749571 35.9278 0.187393 36.0406 0.487221C36.4916 1.53662 36.9425 2.6235 37.3935 3.6729C37.807 4.60986 38.1828 5.58431 38.5962 6.52127C38.6338 6.63371 38.7089 6.70866 38.8593 6.70866C40.0619 6.8211 41.2646 6.89606 42.5048 7.00849C43.482 7.08345 44.4967 7.19589 45.4738 7.27084C45.7369 7.30832 45.8873 7.45824 46 7.68311C46 7.75806 46 7.8705 46 7.94546Z"
                                fill="#22BE0D"
                                />
                                <path
                                d="M96 7.94546C95.8497 8.09537 95.6993 8.28276 95.549 8.43268C93.9705 9.81939 92.3921 11.1686 90.8136 12.5178C90.6632 12.6303 90.6257 12.7427 90.7008 12.9301C91.1894 15.0289 91.678 17.1652 92.1666 19.264C92.2417 19.5263 92.2041 19.7512 91.9786 19.9011C91.7531 20.051 91.5276 20.0136 91.3022 19.9011C89.423 18.7768 87.5815 17.6524 85.7023 16.5281C85.552 16.4156 85.4392 16.4156 85.2889 16.5281C83.4473 17.6524 81.5682 18.7768 79.7267 19.8636C79.5763 19.9761 79.3884 20.0136 79.2005 19.9761C78.8998 19.9011 78.7495 19.6013 78.8247 19.264C79.1253 18.0272 79.3884 16.7904 79.6891 15.5536C79.9146 14.6541 80.1025 13.7546 80.328 12.8552C80.3656 12.7052 80.328 12.6303 80.2152 12.5178C78.5992 11.1311 77.0207 9.74443 75.4046 8.35772C75.3295 8.28276 75.2543 8.24529 75.2167 8.17033C75.0288 8.02041 74.9536 7.83302 75.0288 7.57067C75.104 7.3458 75.2919 7.23336 75.5174 7.19589C75.8556 7.15841 76.1939 7.12093 76.5697 7.12093C78.1106 6.97101 79.6515 6.85858 81.23 6.70866C81.5306 6.67119 81.8313 6.63371 82.132 6.63371C82.2823 6.63371 82.3574 6.55875 82.395 6.44631C83.2594 4.42247 84.0863 2.43611 84.9507 0.412264C85.0634 0.187393 85.1762 0.0374786 85.4392 0C85.7399 0.0749571 85.9278 0.187393 86.0406 0.487221C86.4916 1.53662 86.9425 2.6235 87.3935 3.6729C87.807 4.60986 88.1828 5.58431 88.5962 6.52127C88.6338 6.63371 88.7089 6.70866 88.8593 6.70866C90.0619 6.8211 91.2646 6.89606 92.5048 7.00849C93.482 7.08345 94.4967 7.19589 95.4738 7.27084C95.7369 7.30832 95.8873 7.45824 96 7.68311C96 7.75806 96 7.8705 96 7.94546Z"
                                fill="#B0B0B0"
                                />
                                <path
                                d="M121 7.94546C120.85 8.09537 120.699 8.28276 120.549 8.43268C118.971 9.81939 117.392 11.1686 115.814 12.5178C115.663 12.6303 115.626 12.7427 115.701 12.9301C116.189 15.0289 116.678 17.1652 117.167 19.264C117.242 19.5263 117.204 19.7512 116.979 19.9011C116.753 20.051 116.528 20.0136 116.302 19.9011C114.423 18.7768 112.581 17.6524 110.702 16.5281C110.552 16.4156 110.439 16.4156 110.289 16.5281C108.447 17.6524 106.568 18.7768 104.727 19.8636C104.576 19.9761 104.388 20.0136 104.2 19.9761C103.9 19.9011 103.75 19.6013 103.825 19.264C104.125 18.0272 104.388 16.7904 104.689 15.5536C104.915 14.6541 105.102 13.7546 105.328 12.8552C105.366 12.7052 105.328 12.6303 105.215 12.5178C103.599 11.1311 102.021 9.74443 100.405 8.35772C100.329 8.28276 100.254 8.24529 100.217 8.17033C100.029 8.02041 99.9536 7.83302 100.029 7.57067C100.104 7.3458 100.292 7.23336 100.517 7.19589C100.856 7.15841 101.194 7.12093 101.57 7.12093C103.111 6.97101 104.651 6.85858 106.23 6.70866C106.531 6.67119 106.831 6.63371 107.132 6.63371C107.282 6.63371 107.357 6.55875 107.395 6.44631C108.259 4.42247 109.086 2.43611 109.951 0.412264C110.063 0.187393 110.176 0.0374786 110.439 0C110.74 0.0749571 110.928 0.187393 111.041 0.487221C111.492 1.53662 111.943 2.6235 112.394 3.6729C112.807 4.60986 113.183 5.58431 113.596 6.52127C113.634 6.63371 113.709 6.70866 113.859 6.70866C115.062 6.8211 116.265 6.89606 117.505 7.00849C118.482 7.08345 119.497 7.19589 120.474 7.27084C120.737 7.30832 120.887 7.45824 121 7.68311C121 7.75806 121 7.8705 121 7.94546Z"
                                fill="#B0B0B0"
                                />
                            </svg>
                            </label>
                        </div>
                        </li>
                        <li class="dropdown-item">
                        <div class="gap-3 align-items-center d-flex">
                            <input
                            type="checkbox"
                            class="form-check-input shadow-none"
                            name="rating"
                            id="three"
                            />
                            <label class="form-check-label" for="three">
                            <svg
                                width="121"
                                height="20"
                                viewBox="0 0 121 20"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                d="M21 7.94546C20.8497 8.09537 20.6993 8.28276 20.549 8.43268C18.9705 9.81939 17.3921 11.1686 15.8136 12.5178C15.6632 12.6303 15.6257 12.7427 15.7008 12.9301C16.1894 15.0289 16.678 17.1652 17.1666 19.264C17.2417 19.5263 17.2041 19.7512 16.9786 19.9011C16.7531 20.051 16.5276 20.0136 16.3022 19.9011C14.423 18.7768 12.5815 17.6524 10.7023 16.5281C10.552 16.4156 10.4392 16.4156 10.2889 16.5281C8.44735 17.6524 6.56821 18.7768 4.72665 19.8636C4.57632 19.9761 4.38841 20.0136 4.20049 19.9761C3.89983 19.9011 3.7495 19.6013 3.82467 19.264C4.12533 18.0272 4.38841 16.7904 4.68907 15.5536C4.91457 14.6541 5.10248 13.7546 5.32798 12.8552C5.36556 12.7052 5.32798 12.6303 5.21523 12.5178C3.59917 11.1311 2.02069 9.74443 0.404632 8.35772C0.329466 8.28276 0.2543 8.24529 0.216718 8.17033C0.0288037 8.02041 -0.0463619 7.83302 0.0288037 7.57067C0.103969 7.3458 0.291883 7.23336 0.51738 7.19589C0.855625 7.15841 1.19387 7.12093 1.5697 7.12093C3.11059 6.97101 4.65149 6.85858 6.22996 6.70866C6.53063 6.67119 6.83129 6.63371 7.13195 6.63371C7.28228 6.63371 7.35745 6.55875 7.39503 6.44631C8.25943 4.42247 9.08626 2.43611 9.95066 0.412264C10.0634 0.187393 10.1762 0.0374786 10.4392 0C10.7399 0.0749571 10.9278 0.187393 11.0406 0.487221C11.4916 1.53662 11.9425 2.6235 12.3935 3.6729C12.807 4.60986 13.1828 5.58431 13.5962 6.52127C13.6338 6.63371 13.7089 6.70866 13.8593 6.70866C15.0619 6.8211 16.2646 6.89606 17.5048 7.00849C18.482 7.08345 19.4967 7.19589 20.4738 7.27084C20.7369 7.30832 20.8873 7.45824 21 7.68311C21 7.75806 21 7.8705 21 7.94546Z"
                                fill="#22BE0D"
                                />
                                <path
                                d="M71 7.94546C70.8497 8.09537 70.6993 8.28276 70.549 8.43268C68.9705 9.81939 67.3921 11.1686 65.8136 12.5178C65.6632 12.6303 65.6257 12.7427 65.7008 12.9301C66.1894 15.0289 66.678 17.1652 67.1666 19.264C67.2417 19.5263 67.2041 19.7512 66.9786 19.9011C66.7531 20.051 66.5276 20.0136 66.3022 19.9011C64.423 18.7768 62.5815 17.6524 60.7023 16.5281C60.552 16.4156 60.4392 16.4156 60.2889 16.5281C58.4473 17.6524 56.5682 18.7768 54.7267 19.8636C54.5763 19.9761 54.3884 20.0136 54.2005 19.9761C53.8998 19.9011 53.7495 19.6013 53.8247 19.264C54.1253 18.0272 54.3884 16.7904 54.6891 15.5536C54.9146 14.6541 55.1025 13.7546 55.328 12.8552C55.3656 12.7052 55.328 12.6303 55.2152 12.5178C53.5992 11.1311 52.0207 9.74443 50.4046 8.35772C50.3295 8.28276 50.2543 8.24529 50.2167 8.17033C50.0288 8.02041 49.9536 7.83302 50.0288 7.57067C50.104 7.3458 50.2919 7.23336 50.5174 7.19589C50.8556 7.15841 51.1939 7.12093 51.5697 7.12093C53.1106 6.97101 54.6515 6.85858 56.23 6.70866C56.5306 6.67119 56.8313 6.63371 57.132 6.63371C57.2823 6.63371 57.3574 6.55875 57.395 6.44631C58.2594 4.42247 59.0863 2.43611 59.9507 0.412264C60.0634 0.187393 60.1762 0.0374786 60.4392 0C60.7399 0.0749571 60.9278 0.187393 61.0406 0.487221C61.4916 1.53662 61.9425 2.6235 62.3935 3.6729C62.807 4.60986 63.1828 5.58431 63.5962 6.52127C63.6338 6.63371 63.7089 6.70866 63.8593 6.70866C65.0619 6.8211 66.2646 6.89606 67.5048 7.00849C68.482 7.08345 69.4967 7.19589 70.4738 7.27084C70.7369 7.30832 70.8873 7.45824 71 7.68311C71 7.75806 71 7.8705 71 7.94546Z"
                                fill="#22BE0D"
                                />
                                <path
                                d="M46 7.94546C45.8497 8.09537 45.6993 8.28276 45.549 8.43268C43.9705 9.81939 42.3921 11.1686 40.8136 12.5178C40.6632 12.6303 40.6257 12.7427 40.7008 12.9301C41.1894 15.0289 41.678 17.1652 42.1666 19.264C42.2417 19.5263 42.2041 19.7512 41.9786 19.9011C41.7531 20.051 41.5276 20.0136 41.3022 19.9011C39.423 18.7768 37.5815 17.6524 35.7023 16.5281C35.552 16.4156 35.4392 16.4156 35.2889 16.5281C33.4473 17.6524 31.5682 18.7768 29.7267 19.8636C29.5763 19.9761 29.3884 20.0136 29.2005 19.9761C28.8998 19.9011 28.7495 19.6013 28.8247 19.264C29.1253 18.0272 29.3884 16.7904 29.6891 15.5536C29.9146 14.6541 30.1025 13.7546 30.328 12.8552C30.3656 12.7052 30.328 12.6303 30.2152 12.5178C28.5992 11.1311 27.0207 9.74443 25.4046 8.35772C25.3295 8.28276 25.2543 8.24529 25.2167 8.17033C25.0288 8.02041 24.9536 7.83302 25.0288 7.57067C25.104 7.3458 25.2919 7.23336 25.5174 7.19589C25.8556 7.15841 26.1939 7.12093 26.5697 7.12093C28.1106 6.97101 29.6515 6.85858 31.23 6.70866C31.5306 6.67119 31.8313 6.63371 32.132 6.63371C32.2823 6.63371 32.3574 6.55875 32.395 6.44631C33.2594 4.42247 34.0863 2.43611 34.9507 0.412264C35.0634 0.187393 35.1762 0.0374786 35.4392 0C35.7399 0.0749571 35.9278 0.187393 36.0406 0.487221C36.4916 1.53662 36.9425 2.6235 37.3935 3.6729C37.807 4.60986 38.1828 5.58431 38.5962 6.52127C38.6338 6.63371 38.7089 6.70866 38.8593 6.70866C40.0619 6.8211 41.2646 6.89606 42.5048 7.00849C43.482 7.08345 44.4967 7.19589 45.4738 7.27084C45.7369 7.30832 45.8873 7.45824 46 7.68311C46 7.75806 46 7.8705 46 7.94546Z"
                                fill="#22BE0D"
                                />
                                <path
                                d="M96 7.94546C95.8497 8.09537 95.6993 8.28276 95.549 8.43268C93.9705 9.81939 92.3921 11.1686 90.8136 12.5178C90.6632 12.6303 90.6257 12.7427 90.7008 12.9301C91.1894 15.0289 91.678 17.1652 92.1666 19.264C92.2417 19.5263 92.2041 19.7512 91.9786 19.9011C91.7531 20.051 91.5276 20.0136 91.3022 19.9011C89.423 18.7768 87.5815 17.6524 85.7023 16.5281C85.552 16.4156 85.4392 16.4156 85.2889 16.5281C83.4473 17.6524 81.5682 18.7768 79.7267 19.8636C79.5763 19.9761 79.3884 20.0136 79.2005 19.9761C78.8998 19.9011 78.7495 19.6013 78.8247 19.264C79.1253 18.0272 79.3884 16.7904 79.6891 15.5536C79.9146 14.6541 80.1025 13.7546 80.328 12.8552C80.3656 12.7052 80.328 12.6303 80.2152 12.5178C78.5992 11.1311 77.0207 9.74443 75.4046 8.35772C75.3295 8.28276 75.2543 8.24529 75.2167 8.17033C75.0288 8.02041 74.9536 7.83302 75.0288 7.57067C75.104 7.3458 75.2919 7.23336 75.5174 7.19589C75.8556 7.15841 76.1939 7.12093 76.5697 7.12093C78.1106 6.97101 79.6515 6.85858 81.23 6.70866C81.5306 6.67119 81.8313 6.63371 82.132 6.63371C82.2823 6.63371 82.3574 6.55875 82.395 6.44631C83.2594 4.42247 84.0863 2.43611 84.9507 0.412264C85.0634 0.187393 85.1762 0.0374786 85.4392 0C85.7399 0.0749571 85.9278 0.187393 86.0406 0.487221C86.4916 1.53662 86.9425 2.6235 87.3935 3.6729C87.807 4.60986 88.1828 5.58431 88.5962 6.52127C88.6338 6.63371 88.7089 6.70866 88.8593 6.70866C90.0619 6.8211 91.2646 6.89606 92.5048 7.00849C93.482 7.08345 94.4967 7.19589 95.4738 7.27084C95.7369 7.30832 95.8873 7.45824 96 7.68311C96 7.75806 96 7.8705 96 7.94546Z"
                                fill="#B0B0B0"
                                />
                                <path
                                d="M121 7.94546C120.85 8.09537 120.699 8.28276 120.549 8.43268C118.971 9.81939 117.392 11.1686 115.814 12.5178C115.663 12.6303 115.626 12.7427 115.701 12.9301C116.189 15.0289 116.678 17.1652 117.167 19.264C117.242 19.5263 117.204 19.7512 116.979 19.9011C116.753 20.051 116.528 20.0136 116.302 19.9011C114.423 18.7768 112.581 17.6524 110.702 16.5281C110.552 16.4156 110.439 16.4156 110.289 16.5281C108.447 17.6524 106.568 18.7768 104.727 19.8636C104.576 19.9761 104.388 20.0136 104.2 19.9761C103.9 19.9011 103.75 19.6013 103.825 19.264C104.125 18.0272 104.388 16.7904 104.689 15.5536C104.915 14.6541 105.102 13.7546 105.328 12.8552C105.366 12.7052 105.328 12.6303 105.215 12.5178C103.599 11.1311 102.021 9.74443 100.405 8.35772C100.329 8.28276 100.254 8.24529 100.217 8.17033C100.029 8.02041 99.9536 7.83302 100.029 7.57067C100.104 7.3458 100.292 7.23336 100.517 7.19589C100.856 7.15841 101.194 7.12093 101.57 7.12093C103.111 6.97101 104.651 6.85858 106.23 6.70866C106.531 6.67119 106.831 6.63371 107.132 6.63371C107.282 6.63371 107.357 6.55875 107.395 6.44631C108.259 4.42247 109.086 2.43611 109.951 0.412264C110.063 0.187393 110.176 0.0374786 110.439 0C110.74 0.0749571 110.928 0.187393 111.041 0.487221C111.492 1.53662 111.943 2.6235 112.394 3.6729C112.807 4.60986 113.183 5.58431 113.596 6.52127C113.634 6.63371 113.709 6.70866 113.859 6.70866C115.062 6.8211 116.265 6.89606 117.505 7.00849C118.482 7.08345 119.497 7.19589 120.474 7.27084C120.737 7.30832 120.887 7.45824 121 7.68311C121 7.75806 121 7.8705 121 7.94546Z"
                                fill="#B0B0B0"
                                />
                            </svg>
                            </label>
                        </div>
                        </li>
                        <li class="dropdown-item">
                        <div class="gap-3 align-items-center d-flex">
                            <input
                            type="checkbox"
                            class="form-check-input shadow-none"
                            name="rating"
                            id="two"
                            />
                            <label class="form-check-label" for="two">
                            <svg
                                width="121"
                                height="20"
                                viewBox="0 0 121 20"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                d="M21 7.94546C20.8497 8.09537 20.6993 8.28276 20.549 8.43268C18.9705 9.81939 17.3921 11.1686 15.8136 12.5178C15.6632 12.6303 15.6257 12.7427 15.7008 12.9301C16.1894 15.0289 16.678 17.1652 17.1666 19.264C17.2417 19.5263 17.2041 19.7512 16.9786 19.9011C16.7531 20.051 16.5276 20.0136 16.3022 19.9011C14.423 18.7768 12.5815 17.6524 10.7023 16.5281C10.552 16.4156 10.4392 16.4156 10.2889 16.5281C8.44735 17.6524 6.56821 18.7768 4.72665 19.8636C4.57632 19.9761 4.38841 20.0136 4.20049 19.9761C3.89983 19.9011 3.7495 19.6013 3.82467 19.264C4.12533 18.0272 4.38841 16.7904 4.68907 15.5536C4.91457 14.6541 5.10248 13.7546 5.32798 12.8552C5.36556 12.7052 5.32798 12.6303 5.21523 12.5178C3.59917 11.1311 2.02069 9.74443 0.404632 8.35772C0.329466 8.28276 0.2543 8.24529 0.216718 8.17033C0.0288037 8.02041 -0.0463619 7.83302 0.0288037 7.57067C0.103969 7.3458 0.291883 7.23336 0.51738 7.19589C0.855625 7.15841 1.19387 7.12093 1.5697 7.12093C3.11059 6.97101 4.65149 6.85858 6.22996 6.70866C6.53063 6.67119 6.83129 6.63371 7.13195 6.63371C7.28228 6.63371 7.35745 6.55875 7.39503 6.44631C8.25943 4.42247 9.08626 2.43611 9.95066 0.412264C10.0634 0.187393 10.1762 0.0374786 10.4392 0C10.7399 0.0749571 10.9278 0.187393 11.0406 0.487221C11.4916 1.53662 11.9425 2.6235 12.3935 3.6729C12.807 4.60986 13.1828 5.58431 13.5962 6.52127C13.6338 6.63371 13.7089 6.70866 13.8593 6.70866C15.0619 6.8211 16.2646 6.89606 17.5048 7.00849C18.482 7.08345 19.4967 7.19589 20.4738 7.27084C20.7369 7.30832 20.8873 7.45824 21 7.68311C21 7.75806 21 7.8705 21 7.94546Z"
                                fill="#22BE0D"
                                />
                                <path
                                d="M71 7.94546C70.8497 8.09537 70.6993 8.28276 70.549 8.43268C68.9705 9.81939 67.3921 11.1686 65.8136 12.5178C65.6632 12.6303 65.6257 12.7427 65.7008 12.9301C66.1894 15.0289 66.678 17.1652 67.1666 19.264C67.2417 19.5263 67.2041 19.7512 66.9786 19.9011C66.7531 20.051 66.5276 20.0136 66.3022 19.9011C64.423 18.7768 62.5815 17.6524 60.7023 16.5281C60.552 16.4156 60.4392 16.4156 60.2889 16.5281C58.4473 17.6524 56.5682 18.7768 54.7267 19.8636C54.5763 19.9761 54.3884 20.0136 54.2005 19.9761C53.8998 19.9011 53.7495 19.6013 53.8247 19.264C54.1253 18.0272 54.3884 16.7904 54.6891 15.5536C54.9146 14.6541 55.1025 13.7546 55.328 12.8552C55.3656 12.7052 55.328 12.6303 55.2152 12.5178C53.5992 11.1311 52.0207 9.74443 50.4046 8.35772C50.3295 8.28276 50.2543 8.24529 50.2167 8.17033C50.0288 8.02041 49.9536 7.83302 50.0288 7.57067C50.104 7.3458 50.2919 7.23336 50.5174 7.19589C50.8556 7.15841 51.1939 7.12093 51.5697 7.12093C53.1106 6.97101 54.6515 6.85858 56.23 6.70866C56.5306 6.67119 56.8313 6.63371 57.132 6.63371C57.2823 6.63371 57.3574 6.55875 57.395 6.44631C58.2594 4.42247 59.0863 2.43611 59.9507 0.412264C60.0634 0.187393 60.1762 0.0374786 60.4392 0C60.7399 0.0749571 60.9278 0.187393 61.0406 0.487221C61.4916 1.53662 61.9425 2.6235 62.3935 3.6729C62.807 4.60986 63.1828 5.58431 63.5962 6.52127C63.6338 6.63371 63.7089 6.70866 63.8593 6.70866C65.0619 6.8211 66.2646 6.89606 67.5048 7.00849C68.482 7.08345 69.4967 7.19589 70.4738 7.27084C70.7369 7.30832 70.8873 7.45824 71 7.68311C71 7.75806 71 7.8705 71 7.94546Z"
                                fill="#B0B0B0"
                                />
                                <path
                                d="M46 7.94546C45.8497 8.09537 45.6993 8.28276 45.549 8.43268C43.9705 9.81939 42.3921 11.1686 40.8136 12.5178C40.6632 12.6303 40.6257 12.7427 40.7008 12.9301C41.1894 15.0289 41.678 17.1652 42.1666 19.264C42.2417 19.5263 42.2041 19.7512 41.9786 19.9011C41.7531 20.051 41.5276 20.0136 41.3022 19.9011C39.423 18.7768 37.5815 17.6524 35.7023 16.5281C35.552 16.4156 35.4392 16.4156 35.2889 16.5281C33.4473 17.6524 31.5682 18.7768 29.7267 19.8636C29.5763 19.9761 29.3884 20.0136 29.2005 19.9761C28.8998 19.9011 28.7495 19.6013 28.8247 19.264C29.1253 18.0272 29.3884 16.7904 29.6891 15.5536C29.9146 14.6541 30.1025 13.7546 30.328 12.8552C30.3656 12.7052 30.328 12.6303 30.2152 12.5178C28.5992 11.1311 27.0207 9.74443 25.4046 8.35772C25.3295 8.28276 25.2543 8.24529 25.2167 8.17033C25.0288 8.02041 24.9536 7.83302 25.0288 7.57067C25.104 7.3458 25.2919 7.23336 25.5174 7.19589C25.8556 7.15841 26.1939 7.12093 26.5697 7.12093C28.1106 6.97101 29.6515 6.85858 31.23 6.70866C31.5306 6.67119 31.8313 6.63371 32.132 6.63371C32.2823 6.63371 32.3574 6.55875 32.395 6.44631C33.2594 4.42247 34.0863 2.43611 34.9507 0.412264C35.0634 0.187393 35.1762 0.0374786 35.4392 0C35.7399 0.0749571 35.9278 0.187393 36.0406 0.487221C36.4916 1.53662 36.9425 2.6235 37.3935 3.6729C37.807 4.60986 38.1828 5.58431 38.5962 6.52127C38.6338 6.63371 38.7089 6.70866 38.8593 6.70866C40.0619 6.8211 41.2646 6.89606 42.5048 7.00849C43.482 7.08345 44.4967 7.19589 45.4738 7.27084C45.7369 7.30832 45.8873 7.45824 46 7.68311C46 7.75806 46 7.8705 46 7.94546Z"
                                fill="#22BE0D"
                                />
                                <path
                                d="M96 7.94546C95.8497 8.09537 95.6993 8.28276 95.549 8.43268C93.9705 9.81939 92.3921 11.1686 90.8136 12.5178C90.6632 12.6303 90.6257 12.7427 90.7008 12.9301C91.1894 15.0289 91.678 17.1652 92.1666 19.264C92.2417 19.5263 92.2041 19.7512 91.9786 19.9011C91.7531 20.051 91.5276 20.0136 91.3022 19.9011C89.423 18.7768 87.5815 17.6524 85.7023 16.5281C85.552 16.4156 85.4392 16.4156 85.2889 16.5281C83.4473 17.6524 81.5682 18.7768 79.7267 19.8636C79.5763 19.9761 79.3884 20.0136 79.2005 19.9761C78.8998 19.9011 78.7495 19.6013 78.8247 19.264C79.1253 18.0272 79.3884 16.7904 79.6891 15.5536C79.9146 14.6541 80.1025 13.7546 80.328 12.8552C80.3656 12.7052 80.328 12.6303 80.2152 12.5178C78.5992 11.1311 77.0207 9.74443 75.4046 8.35772C75.3295 8.28276 75.2543 8.24529 75.2167 8.17033C75.0288 8.02041 74.9536 7.83302 75.0288 7.57067C75.104 7.3458 75.2919 7.23336 75.5174 7.19589C75.8556 7.15841 76.1939 7.12093 76.5697 7.12093C78.1106 6.97101 79.6515 6.85858 81.23 6.70866C81.5306 6.67119 81.8313 6.63371 82.132 6.63371C82.2823 6.63371 82.3574 6.55875 82.395 6.44631C83.2594 4.42247 84.0863 2.43611 84.9507 0.412264C85.0634 0.187393 85.1762 0.0374786 85.4392 0C85.7399 0.0749571 85.9278 0.187393 86.0406 0.487221C86.4916 1.53662 86.9425 2.6235 87.3935 3.6729C87.807 4.60986 88.1828 5.58431 88.5962 6.52127C88.6338 6.63371 88.7089 6.70866 88.8593 6.70866C90.0619 6.8211 91.2646 6.89606 92.5048 7.00849C93.482 7.08345 94.4967 7.19589 95.4738 7.27084C95.7369 7.30832 95.8873 7.45824 96 7.68311C96 7.75806 96 7.8705 96 7.94546Z"
                                fill="#B0B0B0"
                                />
                                <path
                                d="M121 7.94546C120.85 8.09537 120.699 8.28276 120.549 8.43268C118.971 9.81939 117.392 11.1686 115.814 12.5178C115.663 12.6303 115.626 12.7427 115.701 12.9301C116.189 15.0289 116.678 17.1652 117.167 19.264C117.242 19.5263 117.204 19.7512 116.979 19.9011C116.753 20.051 116.528 20.0136 116.302 19.9011C114.423 18.7768 112.581 17.6524 110.702 16.5281C110.552 16.4156 110.439 16.4156 110.289 16.5281C108.447 17.6524 106.568 18.7768 104.727 19.8636C104.576 19.9761 104.388 20.0136 104.2 19.9761C103.9 19.9011 103.75 19.6013 103.825 19.264C104.125 18.0272 104.388 16.7904 104.689 15.5536C104.915 14.6541 105.102 13.7546 105.328 12.8552C105.366 12.7052 105.328 12.6303 105.215 12.5178C103.599 11.1311 102.021 9.74443 100.405 8.35772C100.329 8.28276 100.254 8.24529 100.217 8.17033C100.029 8.02041 99.9536 7.83302 100.029 7.57067C100.104 7.3458 100.292 7.23336 100.517 7.19589C100.856 7.15841 101.194 7.12093 101.57 7.12093C103.111 6.97101 104.651 6.85858 106.23 6.70866C106.531 6.67119 106.831 6.63371 107.132 6.63371C107.282 6.63371 107.357 6.55875 107.395 6.44631C108.259 4.42247 109.086 2.43611 109.951 0.412264C110.063 0.187393 110.176 0.0374786 110.439 0C110.74 0.0749571 110.928 0.187393 111.041 0.487221C111.492 1.53662 111.943 2.6235 112.394 3.6729C112.807 4.60986 113.183 5.58431 113.596 6.52127C113.634 6.63371 113.709 6.70866 113.859 6.70866C115.062 6.8211 116.265 6.89606 117.505 7.00849C118.482 7.08345 119.497 7.19589 120.474 7.27084C120.737 7.30832 120.887 7.45824 121 7.68311C121 7.75806 121 7.8705 121 7.94546Z"
                                fill="#B0B0B0"
                                />
                            </svg>
                            </label>
                        </div>
                        </li>
                        <li class="dropdown-item">
                        <div class="gap-3 align-items-center d-flex">
                            <input
                            type="checkbox"
                            class="form-check-input shadow-none"
                            name="rating"
                            id="one"
                            />
                            <label class="form-check-label" for="one">
                            <svg
                                width="121"
                                height="20"
                                viewBox="0 0 121 20"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                d="M21 7.94546C20.8497 8.09537 20.6993 8.28276 20.549 8.43268C18.9705 9.81939 17.3921 11.1686 15.8136 12.5178C15.6632 12.6303 15.6257 12.7427 15.7008 12.9301C16.1894 15.0289 16.678 17.1652 17.1666 19.264C17.2417 19.5263 17.2041 19.7512 16.9786 19.9011C16.7531 20.051 16.5276 20.0136 16.3022 19.9011C14.423 18.7768 12.5815 17.6524 10.7023 16.5281C10.552 16.4156 10.4392 16.4156 10.2889 16.5281C8.44735 17.6524 6.56821 18.7768 4.72665 19.8636C4.57632 19.9761 4.38841 20.0136 4.20049 19.9761C3.89983 19.9011 3.7495 19.6013 3.82467 19.264C4.12533 18.0272 4.38841 16.7904 4.68907 15.5536C4.91457 14.6541 5.10248 13.7546 5.32798 12.8552C5.36556 12.7052 5.32798 12.6303 5.21523 12.5178C3.59917 11.1311 2.02069 9.74443 0.404632 8.35772C0.329466 8.28276 0.2543 8.24529 0.216718 8.17033C0.0288037 8.02041 -0.0463619 7.83302 0.0288037 7.57067C0.103969 7.3458 0.291883 7.23336 0.51738 7.19589C0.855625 7.15841 1.19387 7.12093 1.5697 7.12093C3.11059 6.97101 4.65149 6.85858 6.22996 6.70866C6.53063 6.67119 6.83129 6.63371 7.13195 6.63371C7.28228 6.63371 7.35745 6.55875 7.39503 6.44631C8.25943 4.42247 9.08626 2.43611 9.95066 0.412264C10.0634 0.187393 10.1762 0.0374786 10.4392 0C10.7399 0.0749571 10.9278 0.187393 11.0406 0.487221C11.4916 1.53662 11.9425 2.6235 12.3935 3.6729C12.807 4.60986 13.1828 5.58431 13.5962 6.52127C13.6338 6.63371 13.7089 6.70866 13.8593 6.70866C15.0619 6.8211 16.2646 6.89606 17.5048 7.00849C18.482 7.08345 19.4967 7.19589 20.4738 7.27084C20.7369 7.30832 20.8873 7.45824 21 7.68311C21 7.75806 21 7.8705 21 7.94546Z"
                                fill="#22BE0D"
                                />
                                <path
                                d="M71 7.94546C70.8497 8.09537 70.6993 8.28276 70.549 8.43268C68.9705 9.81939 67.3921 11.1686 65.8136 12.5178C65.6632 12.6303 65.6257 12.7427 65.7008 12.9301C66.1894 15.0289 66.678 17.1652 67.1666 19.264C67.2417 19.5263 67.2041 19.7512 66.9786 19.9011C66.7531 20.051 66.5276 20.0136 66.3022 19.9011C64.423 18.7768 62.5815 17.6524 60.7023 16.5281C60.552 16.4156 60.4392 16.4156 60.2889 16.5281C58.4473 17.6524 56.5682 18.7768 54.7267 19.8636C54.5763 19.9761 54.3884 20.0136 54.2005 19.9761C53.8998 19.9011 53.7495 19.6013 53.8247 19.264C54.1253 18.0272 54.3884 16.7904 54.6891 15.5536C54.9146 14.6541 55.1025 13.7546 55.328 12.8552C55.3656 12.7052 55.328 12.6303 55.2152 12.5178C53.5992 11.1311 52.0207 9.74443 50.4046 8.35772C50.3295 8.28276 50.2543 8.24529 50.2167 8.17033C50.0288 8.02041 49.9536 7.83302 50.0288 7.57067C50.104 7.3458 50.2919 7.23336 50.5174 7.19589C50.8556 7.15841 51.1939 7.12093 51.5697 7.12093C53.1106 6.97101 54.6515 6.85858 56.23 6.70866C56.5306 6.67119 56.8313 6.63371 57.132 6.63371C57.2823 6.63371 57.3574 6.55875 57.395 6.44631C58.2594 4.42247 59.0863 2.43611 59.9507 0.412264C60.0634 0.187393 60.1762 0.0374786 60.4392 0C60.7399 0.0749571 60.9278 0.187393 61.0406 0.487221C61.4916 1.53662 61.9425 2.6235 62.3935 3.6729C62.807 4.60986 63.1828 5.58431 63.5962 6.52127C63.6338 6.63371 63.7089 6.70866 63.8593 6.70866C65.0619 6.8211 66.2646 6.89606 67.5048 7.00849C68.482 7.08345 69.4967 7.19589 70.4738 7.27084C70.7369 7.30832 70.8873 7.45824 71 7.68311C71 7.75806 71 7.8705 71 7.94546Z"
                                fill="#B0B0B0"
                                />
                                <path
                                d="M46 7.94546C45.8497 8.09537 45.6993 8.28276 45.549 8.43268C43.9705 9.81939 42.3921 11.1686 40.8136 12.5178C40.6632 12.6303 40.6257 12.7427 40.7008 12.9301C41.1894 15.0289 41.678 17.1652 42.1666 19.264C42.2417 19.5263 42.2041 19.7512 41.9786 19.9011C41.7531 20.051 41.5276 20.0136 41.3022 19.9011C39.423 18.7768 37.5815 17.6524 35.7023 16.5281C35.552 16.4156 35.4392 16.4156 35.2889 16.5281C33.4473 17.6524 31.5682 18.7768 29.7267 19.8636C29.5763 19.9761 29.3884 20.0136 29.2005 19.9761C28.8998 19.9011 28.7495 19.6013 28.8247 19.264C29.1253 18.0272 29.3884 16.7904 29.6891 15.5536C29.9146 14.6541 30.1025 13.7546 30.328 12.8552C30.3656 12.7052 30.328 12.6303 30.2152 12.5178C28.5992 11.1311 27.0207 9.74443 25.4046 8.35772C25.3295 8.28276 25.2543 8.24529 25.2167 8.17033C25.0288 8.02041 24.9536 7.83302 25.0288 7.57067C25.104 7.3458 25.2919 7.23336 25.5174 7.19589C25.8556 7.15841 26.1939 7.12093 26.5697 7.12093C28.1106 6.97101 29.6515 6.85858 31.23 6.70866C31.5306 6.67119 31.8313 6.63371 32.132 6.63371C32.2823 6.63371 32.3574 6.55875 32.395 6.44631C33.2594 4.42247 34.0863 2.43611 34.9507 0.412264C35.0634 0.187393 35.1762 0.0374786 35.4392 0C35.7399 0.0749571 35.9278 0.187393 36.0406 0.487221C36.4916 1.53662 36.9425 2.6235 37.3935 3.6729C37.807 4.60986 38.1828 5.58431 38.5962 6.52127C38.6338 6.63371 38.7089 6.70866 38.8593 6.70866C40.0619 6.8211 41.2646 6.89606 42.5048 7.00849C43.482 7.08345 44.4967 7.19589 45.4738 7.27084C45.7369 7.30832 45.8873 7.45824 46 7.68311C46 7.75806 46 7.8705 46 7.94546Z"
                                fill="#B0B0B0"
                                />
                                <path
                                d="M96 7.94546C95.8497 8.09537 95.6993 8.28276 95.549 8.43268C93.9705 9.81939 92.3921 11.1686 90.8136 12.5178C90.6632 12.6303 90.6257 12.7427 90.7008 12.9301C91.1894 15.0289 91.678 17.1652 92.1666 19.264C92.2417 19.5263 92.2041 19.7512 91.9786 19.9011C91.7531 20.051 91.5276 20.0136 91.3022 19.9011C89.423 18.7768 87.5815 17.6524 85.7023 16.5281C85.552 16.4156 85.4392 16.4156 85.2889 16.5281C83.4473 17.6524 81.5682 18.7768 79.7267 19.8636C79.5763 19.9761 79.3884 20.0136 79.2005 19.9761C78.8998 19.9011 78.7495 19.6013 78.8247 19.264C79.1253 18.0272 79.3884 16.7904 79.6891 15.5536C79.9146 14.6541 80.1025 13.7546 80.328 12.8552C80.3656 12.7052 80.328 12.6303 80.2152 12.5178C78.5992 11.1311 77.0207 9.74443 75.4046 8.35772C75.3295 8.28276 75.2543 8.24529 75.2167 8.17033C75.0288 8.02041 74.9536 7.83302 75.0288 7.57067C75.104 7.3458 75.2919 7.23336 75.5174 7.19589C75.8556 7.15841 76.1939 7.12093 76.5697 7.12093C78.1106 6.97101 79.6515 6.85858 81.23 6.70866C81.5306 6.67119 81.8313 6.63371 82.132 6.63371C82.2823 6.63371 82.3574 6.55875 82.395 6.44631C83.2594 4.42247 84.0863 2.43611 84.9507 0.412264C85.0634 0.187393 85.1762 0.0374786 85.4392 0C85.7399 0.0749571 85.9278 0.187393 86.0406 0.487221C86.4916 1.53662 86.9425 2.6235 87.3935 3.6729C87.807 4.60986 88.1828 5.58431 88.5962 6.52127C88.6338 6.63371 88.7089 6.70866 88.8593 6.70866C90.0619 6.8211 91.2646 6.89606 92.5048 7.00849C93.482 7.08345 94.4967 7.19589 95.4738 7.27084C95.7369 7.30832 95.8873 7.45824 96 7.68311C96 7.75806 96 7.8705 96 7.94546Z"
                                fill="#B0B0B0"
                                />
                                <path
                                d="M121 7.94546C120.85 8.09537 120.699 8.28276 120.549 8.43268C118.971 9.81939 117.392 11.1686 115.814 12.5178C115.663 12.6303 115.626 12.7427 115.701 12.9301C116.189 15.0289 116.678 17.1652 117.167 19.264C117.242 19.5263 117.204 19.7512 116.979 19.9011C116.753 20.051 116.528 20.0136 116.302 19.9011C114.423 18.7768 112.581 17.6524 110.702 16.5281C110.552 16.4156 110.439 16.4156 110.289 16.5281C108.447 17.6524 106.568 18.7768 104.727 19.8636C104.576 19.9761 104.388 20.0136 104.2 19.9761C103.9 19.9011 103.75 19.6013 103.825 19.264C104.125 18.0272 104.388 16.7904 104.689 15.5536C104.915 14.6541 105.102 13.7546 105.328 12.8552C105.366 12.7052 105.328 12.6303 105.215 12.5178C103.599 11.1311 102.021 9.74443 100.405 8.35772C100.329 8.28276 100.254 8.24529 100.217 8.17033C100.029 8.02041 99.9536 7.83302 100.029 7.57067C100.104 7.3458 100.292 7.23336 100.517 7.19589C100.856 7.15841 101.194 7.12093 101.57 7.12093C103.111 6.97101 104.651 6.85858 106.23 6.70866C106.531 6.67119 106.831 6.63371 107.132 6.63371C107.282 6.63371 107.357 6.55875 107.395 6.44631C108.259 4.42247 109.086 2.43611 109.951 0.412264C110.063 0.187393 110.176 0.0374786 110.439 0C110.74 0.0749571 110.928 0.187393 111.041 0.487221C111.492 1.53662 111.943 2.6235 112.394 3.6729C112.807 4.60986 113.183 5.58431 113.596 6.52127C113.634 6.63371 113.709 6.70866 113.859 6.70866C115.062 6.8211 116.265 6.89606 117.505 7.00849C118.482 7.08345 119.497 7.19589 120.474 7.27084C120.737 7.30832 120.887 7.45824 121 7.68311C121 7.75806 121 7.8705 121 7.94546Z"
                                fill="#B0B0B0"
                                />
                            </svg>
                            </label>
                        </div>
                        </li>
                    </ul>
                    </div>
                </div>
                </div>
            </div>
            <!-- Content -->
            <div
                class="row row-gap-4 row-cols-xl-5 row-cols-lg-3 row-cols-md-2 justify-content-center"
            >
                
                <article>
                <div class="bg-white top-seller-card position-relative">
                    <div
                    class="job-type-badge position-absolute d-flex flex-column gap-2"
                    >
                    <p class="job-type-badge-tertiary">Top Seller</p>
                    <p class="job-type-badge-secondary">$90/hr</p>
                    </div>
                    <div
                    class="d-flex flex-column justify-content-center align-items-center"
                    >
                    <div class="seller-profile-img mb-4">
                        <img src="img/top-seller/1.png" alt="" />
                    </div>

                    <h3 class="top-seller-name fw-bold">Sufankho Jhon</h3>
                    <p class="top-seller-title">UiUx Designer</p>
                    <div class="top-seller-rating mb-4">
                        <p class="d-flex align-items-center top-seller-rating">
                        <svg
                            width="12"
                            height="12"
                            viewBox="0 0 12 12"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                            d="M11.1141 4.65628C11.0407 4.42385 10.8406 4.25929 10.6048 4.23731L7.38803 3.93649L6.11676 0.870622C6.0229 0.645376 5.80934 0.5 5.57163 0.5C5.33392 0.5 5.12027 0.645376 5.02701 0.870622L3.75574 3.93649L0.538508 4.23731C0.302669 4.25973 0.102963 4.42429 0.0291678 4.65628C-0.0442024 4.8887 0.0235566 5.14364 0.201923 5.30478L2.63351 7.5011L1.91656 10.7539C1.8641 10.993 1.95422 11.2403 2.14687 11.3838C2.25042 11.4613 2.37208 11.5 2.49417 11.5C2.59908 11.5 2.70407 11.4713 2.79785 11.4135L5.57163 9.70504L8.3449 11.4135C8.54835 11.5387 8.80417 11.5272 8.99639 11.3838C9.18904 11.2403 9.27916 10.993 9.22671 10.7539L8.50975 7.5011L10.9413 5.30478C11.1196 5.14364 11.1875 4.88923 11.1141 4.65628Z"
                            fill="currentColor"
                            />
                        </svg>
                        4.9
                        <span class="top-seller-review">(399 Reviews)</span>
                        </p>
                    </div>
                    <a href="freelancer-details.html" class="w-btn-primary-lg">
                        View Profile
                        <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="14"
                        height="10"
                        viewBox="0 0 14 10"
                        fill="none"
                        >
                        <path
                            d="M9 9L13 5M13 5L9 1M13 5L1 5"
                            stroke="currentColor"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        /></svg>
                    </a>
                    </div>
                </div>
                </article>
            </div>
            <!-- Pagination -->
            <div class="row justify-content-center mt-40">
                <div class="col-auto">
                <nav aria-label="Page navigation example">
                    <ul class="custom-pagination pagination">
                    <li class="custom-page-item page-item">
                        <a class="custom-page-link page-link" href="#">Previous</a>
                    </li>
                    <li class="custom-page-item page-item">
                        <a class="custom-page-link page-link" href="#">1</a>
                    </li>
                    <li class="custom-page-item page-item">
                        <a class="custom-page-link page-link" href="#">2</a>
                    </li>
                    <li
                        class="custom-page-item page-item active"
                        aria-current="page"
                    >
                        <a class="custom-page-link page-link" href="#">3</a>
                    </li>
                    <li class="custom-page-item page-item">
                        <a class="custom-page-link page-link" href="#">4</a>
                    </li>

                    <li class="custom-page-item page-item">
                        <a
                        class="custom-page-link custom-page-item page-link"
                        href="#">
                        Next
                        </a>
                    </li>
                    </ul>
                </nav>
                </div>
            </div>
            </div>
        </section>
        <!-- Freelancers Start End -->
        </main>
        <Footer />
    </NotAuthorized>
    <Authorized>
        401 page
    </Authorized>
</AuthorizeView>

@code {
    private string displayFilters = "";
    private List<Skill> AllSkills = new List<Skill>();
    private List<Field> AllFields = new List<Field>();
    private List<Location> Cities = new List<Location>();

    private List<int> Skills = new List<int>();
    private List<int> Fields = new List<int>();
    private List<int> Locations = new List<int>();


    private void displayFiltersFunc() {
        displayFilters = "" == displayFilters ? "display: block;" : "";
    }

    protected async override Task OnInitializedAsync() {
        AllSkills = await SkillService.GetAllSkillsAsync();
        AllFields = await FieldService.GetAllFieldsAsync();
        Cities = await LocationService.GetAllCities();
    }
}
