@page "/"

<PageTitle>Home - Abronal Freelance</PageTitle>

<NavMenu />
<!-- Main Start -->
<main>
    <!-- Hero Start-->
      <section
        class="hero-two position-relative overflow-hidden"
        style="
          background: url('img/hero/hero-bg-2.jpeg') no-repeat center
            center/cover;
        "
      >
        <div class="container">
          <div class="row align-items-center position-relative z-3">
            <div class="col-12 col-xl-7">
              <div>
                <h1
                  class="hero-two-title text-white fw-bold mb-4"
                
                >
                  Hire the best freelancers for any job, online.
                </h1>
                <p
                  class="text-white fs-6"
                  
                >
                  Connect with skilled freelancers who specialize in delivering high-quality
                   work tailored to your needs. 
                   Whether you're launching a new product or need ongoing support, 
                   our experts are here to help you succeed.
                </p>
                <div class="pt-5">
                  <form>
                    <div
                      class="hero-form-wrapper bg-white d-flex position-relative"
                    >
                      <div>
                        <select class="form-select shadow-none">
                          <option value="0" selected>All Categories</option>
                          <option value="1">Animation</option>
                          <option value="2">Web Design</option>
                          <option value="3">Graphics</option>
                        </select>
                      </div>
                      <div class="">
                        <input
                          type="text"
                          class="form-control shadow-none"
                          placeholder="Search for any service..."
                        />
                        <button class="hero-form-btn position-absolute">
                          <svg
                            width="19"
                            height="18"
                            viewBox="0 0 19 18"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M8 15C11.866 15 15 11.866 15 8C15 4.13401 11.866 1 8 1C4.13401 1 1 4.13401 1 8C1 11.866 4.13401 15 8 15Z"
                              stroke="#F2F2F2"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            />
                            <path
                              d="M18 17L14 13"
                              stroke="#F2F2F2"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            />
                          </svg>
                          Search
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
                
              </div>
            </div>
            <div class="col-12 col-xl-5 position-relative">
              <div
               
              >
                <img
                  src="img/hero/hero-2-girl.png"
                  class="hero-two-img img-fluid"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Hero End -->

    <!-- Featured Categories -->
    <section class="bg-offWhite py-110">
    <div class="container">
        <div class="row mb-40 justify-content-between align-items-end">
        <div class="col-md-auto">
            <h2 class="fw-bold section-title">Featured Categories</h2>
            <p class="section-desc">Get some Inspirations from 1K+ skills</p>
        </div>
        <div class="col-md-auto position-relative mt-30 mt-md-0">
            <div class="d-flex gap-3">
            <button class="featurePrev swiper-prev">
                <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6">
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M15.75 19.5 8.25 12l7.5-7.5"/>
                </svg>
            </button>
            <button class="featureNext swiper-next">
                <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor">
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="m8.25 4.5 7.5 7.5-7.5 7.5"/>
                </svg>
            </button>
            </div>
        </div>
        </div>
        <div class="position-relative">
        <div class="swiper featureCategory">
            <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="feature-category-card bg-white">
                <img
                    src="img/categories/1.svg"
                    class="mb-4"
                    alt=""
                />
                <h3 class="feature-category-link fw-semibold">
                    <a href="services.html">Graphics & Design</a>
                </h3>
                <p class="feature-category-desc fs-6">20 Skills</p>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="feature-category-card bg-white">
                <img
                    src="img/categories/2.svg"
                    class="mb-4"
                    alt=""
                />
                <h3 class="feature-category-link fw-semibold">
                    <a href="services.html">Digital Marketing</a>
                </h3>
                <p class="feature-category-desc fs-6">22 Skills</p>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="feature-category-card bg-white">
                <img
                    src="img/categories/3.svg"
                    class="mb-4"
                    alt=""
                />
                <h3 class="feature-category-link fw-semibold">
                    <a href="services.html">Branding Design</a>
                </h3>
                <p class="feature-category-desc fs-6">39 Skills</p>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="feature-category-card bg-white">
                <img
                    src="img/categories/4.svg"
                    class="mb-4"
                    alt=""
                />
                <h3 class="feature-category-link fw-semibold">
                    <a href="services.html">AI Services</a>
                </h3>
                <p class="feature-category-desc fs-6">30 Skills</p>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="feature-category-card bg-white">
                <img
                    src="img/categories/5.svg"
                    class="mb-4"
                    alt=""
                />
                <h3 class="feature-category-link fw-semibold">
                    <a href="services.html">Sales & Marketing</a>
                </h3>
                <p class="feature-category-desc fs-6">50 Skills</p>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="feature-category-card bg-white">
                <img
                    src="img/categories/6.svg"
                    class="mb-4"
                    alt=""
                />
                <h3 class="feature-category-link fw-semibold">
                    <a href="services.html">Design & Creative</a>
                </h3>
                <p class="feature-category-desc fs-6">30 Skills</p>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="feature-category-card bg-white">
                <img
                    src="img/categories/5.svg"
                    class="mb-4"
                    alt=""
                />
                <h3 class="feature-category-link fw-semibold">
                    <a href="services.html">Sales & Marketing</a>
                </h3>
                <p class="feature-category-desc fs-6">85 Skills</p>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
    </section>
    <!-- Featured Categories End -->

    
    <!-- Cta Start -->
    <section class="cta-area mt-30" >
    <div class="container">
        <div class="bg-darkGreen cta-area-bg">
        <div class="row align-items-center">
            <div class="col-12 col-xl-7">
            <div
                class="cta-content"
               >
                <p class="cta-subtitle fw-bold mb-2">Explore New Life</p>
                <h2 class="section-title-light fw-bold mb-4">
                Don’t just find. Be found put your CV in front of great
                employers
                </h2>
                <p class="section-desc-light mb-40">
                There are many variations of passages of Lorem Ipsum
                available, but the majority have suffered alteration in some
                form, by injected humour, or randomised words.
                </p>
                <a href="buyer-dashboard.html" class="cta-btn-link">
                Post Job Now
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="14"
                    height="10"
                    viewBox="0 0 14 10"
                    fill="none">
                    <path
                    d="M9 9L13 5M13 5L9 1M13 5L1 5"
                    stroke="currentColor"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"/>
                </svg>
                </a>
            </div>
            <div class="cta-counter mt-5">
                <div class="cta-counter-item">
                <h3 class="cta-counter-title fw-bold">
                    <span class="counter">12</span><span>+</span>
                </h3>
                <p class="cta-counter-desc fw-bold">Total Employers</p>
                </div>
                <div class="cta-counter-item">
                <h3 class="cta-counter-title fw-bold">
                    <span class="counter">32</span><span>+</span>
                </h3>
                <p class="cta-counter-desc fw-bold">Total Freelancers</p>
                </div>
                <div class="cta-counter-item">
                <h3 class="cta-counter-title fw-bold">
                    <span class="counter">26</span><span>+</span>
                </h3>
                <p class="cta-counter-desc fw-bold">Active Users</p>
                </div>
            </div>
            </div>
            <div class="col-12 col-xl-5 mt-5 mt-xl-0">
            <div class="cta-img">
                <img
                src="img/cta/cta-img.png"
                class="img-fluid w-100"
                alt=""/>
            </div>
            </div>
        </div>
        </div>
    </div>
    </section>
    <!-- Cta End -->

    <!-- Recent Job -->
<section class="py-110">
    <div class="container">
        <div class="row mb-40 justify-content-between align-items-end">
            <div class="col-md-auto">
                <h2 class="fw-bold section-title">Recent Job Post</h2>
                <p class="section-desc">Find your dream job and earn!</p>
            </div>
            <div class="col-md-auto position-relative mt-30 mt-md-0">
                <div class="d-flex gap-3">
                    <button class="recentJobPrev swiper-prev">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
                        </svg>
                    </button>
                    <button class="recentJobNext swiper-next">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <div class="swiper recentJob">
            <div class="swiper-wrapper">
                @foreach (var job in Jobs) {
                    <article class="swiper-slide">
                        <div class="job-post bg-offWhite position-relative">
                            <div class="job-type-badge position-absolute d-flex flex-column gap-2">
                                @* <p class="job-type-badge-primary">Hourly</p> *@
                                <p class="job-type-badge-secondary">
                                    @(JobTypes.FirstOrDefault(jt => jt.Id == job.JobTypeId)?.Name)
                                </p>
                            </div>
                            <div class="d-flex flex-column justify-content-center align-items-center">
                                <div class="job-post-icon">
                                    <img src="img/job/1.svg" alt="" />
                                </div>
                                <p class="job-post-subtitle fw-normal">ETB @job.Budget</p>
                                <h3 class="job-post-title fw-semibold">
                                    <a href="job-details.html">@job.Title</a>
                                </h3>
                                <a href="job/@job.Id" class="w-btn-primary-xl">
                                    Apply Now
                                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="10" viewBox="0 0 14 10" fill="none">
                                        <path d="M9 9L13 5M13 5L9 1M13 5L1 5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </article>
                }
                
            </div>
        </div>
    </div>
</section>

<!-- Recent Job End -->

<!-- Top Sellers -->
    <section class="top-sellers-area bg-offWhite py-110">
    <div class="container">
        <div class="row justify-content-between align-items-end mb-40">
            <div class="col-auto">
                <h2 class="fw-bold section-title">Top Sellers</h2>
                <p class="section-desc">Get some Inspirations from 32+ Freelancers</p>
            </div>
            <div class="col-auto mt-30 mt-md-0">
                <div class="d-flex justify-content-end">
                    <a href="find-freelancers" class="w-btn-link">
                        View More
                        <svg width="14" height="10" viewBox="0 0 14 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9 9L13 5M13 5L9 1M13 5L1 5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <div class="row row-gap-4 justify-content-center row-cols-md-2 row-cols-lg-3 row-cols-xl-5">
            <article>
                <div class="bg-white top-seller-card position-relative">
                    <div class="job-type-badge position-absolute d-flex flex-column gap-2">
                        <p class="job-type-badge-tertiary">Top Seller</p>
                        <p class="job-type-badge-secondary">$90/hr</p>
                    </div>
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <div class="seller-profile-img mb-4">
                            <img src="img/top-seller/1.png" alt=""/>
                        </div>
                        <h3 class="top-seller-name fw-bold">Sufankho Jhon</h3>
                        <p class="top-seller-title">UiUx Designer</p>
                        <div class="top-seller-rating mb-4">
                            <p class="d-flex align-items-center top-seller-rating">
                                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11.1141 4.65628C11.0407 4.42385 10.8406 4.25929 10.6048 4.23731L7.38803 3.93649L6.11676 0.870622C6.0229 0.645376 5.80934 0.5 5.57163 0.5C5.33392 0.5 5.12027 0.645376 5.02701 0.870622L3.75574 3.93649L0.538508 4.23731C0.302669 4.25973 0.102963 4.42429 0.0291678 4.65628C-0.0442024 4.8887 0.0235566 5.14364 0.201923 5.30478L2.63351 7.5011L1.91656 10.7539C1.8641 10.993 1.95422 11.2403 2.14687 11.3838C2.25042 11.4613 2.37208 11.5 2.49417 11.5C2.59908 11.5 2.70407 11.4713 2.79785 11.4135L5.57163 9.70504L8.3449 11.4135C8.54835 11.5387 8.80417 11.5272 8.99639 11.3838C9.18904 11.2403 9.27916 10.993 9.22671 10.7539L8.50975 7.5011L10.9413 5.30478C11.1196 5.14364 11.1875 4.88923 11.1141 4.65628Z" fill="currentColor"/>
                                </svg>
                                4.9 <span class="top-seller-review">(399 Reviews)</span>
                            </p>
                        </div>
                        <a href="freelancer-details.html" class="w-btn-primary-lg">
                            View Profile
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="10" viewBox="0 0 14 10" fill="none">
                                <path d="M9 9L13 5M13 5L9 1M13 5L1 5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </a>
                    </div>
                </div>
            </article>
            <article>
                <div class="bg-white top-seller-card position-relative">
                    <div class="job-type-badge position-absolute d-flex flex-column gap-2">
                        <p class="job-type-badge-tertiary">Top Seller</p>
                        <p class="job-type-badge-secondary">$90/hr</p>
                    </div>
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <div class="seller-profile-img mb-4">
                            <img src="img/top-seller/2.png" alt=""/>
                        </div>
                        <h3 class="top-seller-name fw-bold">Sufankho Jhon</h3>
                        <p class="top-seller-title">UiUx Designer</p>
                        <div class="top-seller-rating mb-4">
                            <p class="d-flex align-items-center top-seller-rating">
                                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11.1141 4.65628C11.0407 4.42385 10.8406 4.25929 10.6048 4.23731L7.38803 3.93649L6.11676 0.870622C6.0229 0.645376 5.80934 0.5 5.57163 0.5C5.33392 0.5 5.12027 0.645376 5.02701 0.870622L3.75574 3.93649L0.538508 4.23731C0.302669 4.25973 0.102963 4.42429 0.0291678 4.65628C-0.0442024 4.8887 0.0235566 5.14364 0.201923 5.30478L2.63351 7.5011L1.91656 10.7539C1.8641 10.993 1.95422 11.2403 2.14687 11.3838C2.25042 11.4613 2.37208 11.5 2.49417 11.5C2.59908 11.5 2.70407 11.4713 2.79785 11.4135L5.57163 9.70504L8.3449 11.4135C8.54835 11.5387 8.80417 11.5272 8.99639 11.3838C9.18904 11.2403 9.27916 10.993 9.22671 10.7539L8.50975 7.5011L10.9413 5.30478C11.1196 5.14364 11.1875 4.88923 11.1141 4.65628Z" fill="currentColor"/>
                                </svg>
                                4.9 <span class="top-seller-review">(399 Reviews)</span>
                            </p>
                        </div>
                        <a href="freelancer-details.html" class="w-btn-primary-lg">
                            View Profile
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="10" viewBox="0 0 14 10" fill="none">
                                <path d="M9 9L13 5M13 5L9 1M13 5L1 5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </a>
                    </div>
                </div>
            </article>
            <article>
                <div class="bg-white top-seller-card position-relative">
                    <div class="job-type-badge position-absolute d-flex flex-column gap-2">
                        <p class="job-type-badge-tertiary">Top Seller</p>
                        <p class="job-type-badge-secondary">$90/hr</p>
                    </div>
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <div class="seller-profile-img mb-4">
                            <img src="img/top-seller/3.png" alt=""/>
                        </div>
                        <h3 class="top-seller-name fw-bold">Sufankho Jhon</h3>
                        <p class="top-seller-title">UiUx Designer</p>
                        <div class="top-seller-rating mb-4">
                            <p class="d-flex align-items-center top-seller-rating">
                                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11.1141 4.65628C11.0407 4.42385 10.8406 4.25929 10.6048 4.23731L7.38803 3.93649L6.11676 0.870622C6.0229 0.645376 5.80934 0.5 5.57163 0.5C5.33392 0.5 5.12027 0.645376 5.02701 0.870622L3.75574 3.93649L0.538508 4.23731C0.302669 4.25973 0.102963 4.42429 0.0291678 4.65628C-0.0442024 4.8887 0.0235566 5.14364 0.201923 5.30478L2.63351 7.5011L1.91656 10.7539C1.8641 10.993 1.95422 11.2403 2.14687 11.3838C2.25042 11.4613 2.37208 11.5 2.49417 11.5C2.59908 11.5 2.70407 11.4713 2.79785 11.4135L5.57163 9.70504L8.3449 11.4135C8.54835 11.5387 8.80417 11.5272 8.99639 11.3838C9.18904 11.2403 9.27916 10.993 9.22671 10.7539L8.50975 7.5011L10.9413 5.30478C11.1196 5.14364 11.1875 4.88923 11.1141 4.65628Z" fill="currentColor"/>
                                </svg>
                                4.9 <span class="top-seller-review">(399 Reviews)</span>
                            </p>
                        </div>
                        <a href="freelancer-details.html" class="w-btn-primary-lg">
                            View Profile
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="10" viewBox="0 0 14 10" fill="none">
                                <path d="M9 9L13 5M13 5L9 1M13 5L1 5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </a>
                    </div>
                </div>
            </article>
        </div>
    </div>
    </section>

    <!-- Top Sellers End -->

    <!-- Core Cta -->
    <section class="pt-110 bg-offWhite mb-30">
        <div class="container">
            <div class="cta-wrapper position-relative" style="background: url('img/cta/cta-bg.png') no-repeat center center/cover;">
                <div class="row justify-content-between">
                    <div class="col-lg-6">
                        <div>
                            <h2 class="section-title-light fw-bold mb-4">
                                Find the talent needed to get your business growing.
                            </h2>
                            <p class="text-white mb-5">
                                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.
                            </p>
                            <a href="register" class="cta-btn-link">
                                Get Started
                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="10" viewBox="0 0 14 10" fill="none">
                                    <path d="M9 9L13 5M13 5L9 1M13 5L1 5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div>
                            <img src="img/cta/men-women.png" class="cta-people position-absolute d-none d-lg-block" alt=""/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Core Cta End -->

</main>
<Footer />

@code {
    private List<JobDTO> Jobs = new List<JobDTO>();
    private List<JobType> JobTypes = new List<JobType>();
    protected override async Task OnInitializedAsync() {
        Jobs = await JobService.GetRecentJobsAsync(null);
        JobTypes = await JobTypeService.GetAllJobTypesAsync();
    }
}
