.main-container[b-jhg0ia8qh3] {
    width: 96%;
    margin: 50px auto;
    padding: 20px;
    background-color: var(--primary-color);
    border-radius: 8px;
    color: var(--secondary-color);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.page-title[b-jhg0ia8qh3] {
    font-size: 32px;
    color: var(--secondary-color);
    text-align: center;
    margin-bottom: 20px;
}

.search-bar[b-jhg0ia8qh3] {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search-input[b-jhg0ia8qh3] {
    width: 40%;
    padding: 10px;
    border: 1px solid var(--third-color);
    border-radius: 4px 0 0 4px;
    background-color: var(--third-color);
    color: #000;
    font-size: 16px;
}

.search-button[b-jhg0ia8qh3] {
    padding: 10px 30px;
    background-color: var(--action-color);
    border: none;
    border-radius: 0 4px 4px 0;
    color: var(--secondary-color);
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.search-button:hover[b-jhg0ia8qh3] {
    background-color: var(--primary-hover);
}

.result-filter[b-jhg0ia8qh3] {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.result-container[b-jhg0ia8qh3] {
    flex: 4;
    background-color: var(--third-color);
    padding: 20px;
    border-radius: 8px;
    color: #000;
    overflow: auto;
}

/* Result Item */
.result-item[b-jhg0ia8qh3] {
    display: flex;
    align-items: center;
    padding: 15px;
    border: 1px solid var(--third-color);
    border-radius: 8px;
    background-color: var(--secondary-color);
    margin-bottom: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.result-item:hover[b-jhg0ia8qh3] {
    background-color: var(--third-color);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.profile-picture[b-jhg0ia8qh3] {
    flex-shrink: 0;
    width: 80px;
    height: 80px;
    margin-right: 15px;
    border-radius: 50%;
    overflow: hidden;
}

.profile-picture img[b-jhg0ia8qh3] {
    width: 100%;
    height: auto;
}

.result-details[b-jhg0ia8qh3] {
    flex-grow: 1;
}

.result-details p[b-jhg0ia8qh3] {
    margin: 5px 0;
}

.result-details p strong[b-jhg0ia8qh3] {
    font-size: 18px;
    color: var(--primary-color);
}

.result-details p i[b-jhg0ia8qh3] {
    font-size: 16px;
    color: var(--primary-color);
}

.result-details p.rating[b-jhg0ia8qh3] {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: var(--action-color);
}

.star-icon[b-jhg0ia8qh3] {
    font-size: 20px;
    color: #ffb400;
    margin-right: 5px;
}

.filter-container[b-jhg0ia8qh3] {
    flex: 1;
    background-color: var(--third-color);
    padding: 20px;
    border-radius: 8px;
    color: #000;
    overflow: auto;
}

.display-filters span[b-jhg0ia8qh3] {
    background-color: rgb(100, 84, 84);
    padding: 5px 10px;
    cursor: pointer;
}

.display-filters[b-jhg0ia8qh3] {
    display: none;

}

.filter-group[b-jhg0ia8qh3] {
    margin-bottom: 20px;
}

.filter-group h3[b-jhg0ia8qh3] {
    margin-bottom: 10px;
    font-size: 18px;
    color: var(--primary-color);
}

.filter-group label[b-jhg0ia8qh3] {
    display: block;
    margin-bottom: 5px;
    cursor: pointer;
}

.filter-group input[type="checkbox"][b-jhg0ia8qh3] {
    margin-right: 10px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .display-filters[b-jhg0ia8qh3] {
        display: block;
    }
    .result-filter[b-jhg0ia8qh3] {
        flex-direction: column;
    }
    .search-input[b-jhg0ia8qh3] {
        width: 70%;
    }
    .filter-container[b-jhg0ia8qh3] {
        display: none;
    }
}


@media (max-width: 480px) {
    .search-input[b-jhg0ia8qh3] {
        width: 100%;
    }

    .result-filter[b-jhg0ia8qh3] {
        flex-direction: column;
    }

    .filter-container[b-jhg0ia8qh3] {
        display: none;
    }

    .result-container[b-jhg0ia8qh3] {
        flex: 1;
    }
}

@media (max-width: 480px) {
    .filter-container[b-jhg0ia8qh3] {
        margin-bottom: 20px;
    }

    .filter-container.collapsed[b-jhg0ia8qh3] {
        display: none;
    }
}

.show-filters-button[b-jhg0ia8qh3] {
    display: none;
    margin-bottom: 10px;
    padding: 10px 20px;
    background-color: var(--action-color);
    color: var(--secondary-color);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

.show-filters-button:hover[b-jhg0ia8qh3] {
    background-color: var(--primary-hover);
}

@media (max-width: 480px) {
    .show-filters-button[b-jhg0ia8qh3] {
        display: block;
    }
}