.login-box[b-biqt6mjp5a] {
    background-color: var(--primary-color);
    border-radius: 15px;
    border: 1px solid var(--action-color);
    width: 500px;
    margin: 3% auto 0;
    padding: 40px;
    box-shadow: 1px 1px 7px var(--action-color);
}

