.body-container[b-5ibxfxw9r2] {
    height: 100vh;
    display: flex;
    padding: 10px;
    list-style: none;
}

.body-container .side-bar[b-5ibxfxw9r2] {
    background-color: var(--primary-color);
    height: 100%;
    width: 15%;
    margin-right: 5px;
    padding: 40px 10px;
    text-align: center;
    color: var(--secondary-color);
    border-radius:0 35px 0 35px;
    overflow:auto;
    transition: .3s;
}

.side-bar .user-action[b-5ibxfxw9r2] {
    cursor: pointer;
    margin-bottom: 5px;
    transition: .3s;
}

.side-bar .user-action:hover[b-5ibxfxw9r2] {
    color: var(--action-color);
    box-shadow: 0 -1px 6px var(--action-color);
}

.body-container .main-bar[b-5ibxfxw9r2] {
    border-radius: 10px;
    width: 85%;
    padding: 30px;
    background-color: #02071a62;
    overflow: auto;
}


@media (max-width: 768px) {
    .body-container[b-5ibxfxw9r2] {
        flex-direction: column;
    }

    .body-container .side-bar[b-5ibxfxw9r2] {
        width: 100%;
        height: auto;
        margin-right: 0;
        margin-bottom: 10px;
        padding: 20px 10px;
        border-radius: 10px;
    }

    .body-container .main-bar[b-5ibxfxw9r2] {
        width: 100%;
        padding: 20px;
    }
}



