.page-title {
    font-size: 35px;
    color: var(--secondary-color);
    text-shadow: 1px 1px 2px var(--primary-color);
}


.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 40px;
    background-color: var(--primary-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    color: var(--secondary-color);
}

.page-title {
    font-size: 35px;
    color: var(--secondary-color);
    text-shadow: 1px 1px 2px var(--primary-color);
}

.container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--action-color);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: var(--secondary-color);
}

.form-group input[type="text"],
.form-group select,
.form-group input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--third-color);
    border-radius: 4px;
    box-sizing: border-box;
    background-color: var(--third-color);
    color: #000;
}

.form-group button {
    width: 100%;
    padding: 10px;
    background-color: var(--action-color);
    border: none;
    color: var(--secondary-color);
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.3s;
}

.form-group button:hover {
    background-color: var(--primary-color);
    box-shadow: 1px 1px 4px var(--action-color);
}

.form-group .close {
    color: var(--action-color);
    cursor: pointer;
    margin-top: 15px;
    text-align: center;
    transition: .3s;
}

.form-group .close:hover {
    text-decoration: underline;
}

/* display company info */
.profile-details {
    display: flex;
    align-items: center;
    gap: 20px;
}

.profile-info p {
    margin: 5px 25px;
}

.edit-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: var(--action-color);
    border: none;
    color: var(--secondary-color);
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 20px;
    transition: .3s;
}
.edit-button:hover {
    background-color: var(--primary-color);
    box-shadow: 1px 1px 4px var(--action-color);
}

/* Responsive Styles */
@media (max-width: 768px) {
    .container {
        width: 90%;
        margin: 20px auto;
    }

    .profile-details {
        flex-direction: column;
        align-items: center;
    }

    .profile-info p {
        margin: 5px 0;
    }
}

@media (max-width: 480px) {
    .container {
        width: 100%;
        margin: 10px;
        padding: 15px;
    }

    .form-group label,
    .form-group input,
    .form-group select,
    .form-group button {
        font-size: 14px;
    }
}