@page "/counter"


<AuthorizeView Roles="Admin">
    <Authorized>
        <h5>Test counter</h5>
    </Authorized>
    <NotAuthorized>
        <h5>404 page</h5>
    </NotAuthorized>
</AuthorizeView>