@page "/"

<PageTitle>AbronalFreelance</PageTitle>

<div class="hero-image"></div>
<div class="hero-container">
    <div class="hero-items">
        <h1>Connect with Top Freelancers and Get Work Done</h1>
        <p>Get your project done from any location.</p>
        <div class="hero-actions">
            <a href="#" class="find-jobs hero-action">Find Jobs</a>
            <a href="#" class="find-freelancers hero-action">Find Freelancer</a>
        </div>
    </div>
</div>

