@page "/login"
@inject HttpClient Http
@inject IAccount AccountService
@using AbronalFreelance.Client.State

<div class="login-container">
    <div class="hero-image"></div>
    <div class="login-box">
        <h1>Login</h1>
        <EditForm Model="loginModel" OnValidSubmit="LoginAsync">
            <DataAnnotationsValidator />

            <input @bind="loginModel.Email" Placeholder="Email" class="email-input" /><br />
            <input @bind="loginModel.Password" Placeholder="Password" Type="password" class="pass-input" /><br />

            <button class="login-btn" type="submit">Login</button>
            <h6><a href="forgot-password">Forgot Password?</a></h6>
        </EditForm>
    </div>
</div>

@code {
    private LoginDTO loginModel = new();

    private async Task LoginAsync()
    {
        var result = await AccountService.LoginUserAsync(loginModel);
        var customAuthStateProvider = (CustomAuthState)AuthStateProvider;
        await customAuthStateProvider.updateAuthenticationState(result.Token);
        Navigation.NavigateTo("/", forceLoad: true);
        
    }

}
