@page "/login"
@inject HttpClient Http
@inject IAccount AccountService
@using AbronalFreelance.Client.State


<EditForm Model="loginModel" OnValidSubmit="LoginAsync">
    <DataAnnotationsValidator />

    <InputText @bind-Value="loginModel.Email" Placeholder="Email" class="form-control mb-3" /><br />
    <InputText @bind-Value="loginModel.Password" Placeholder="Password" Type="password" class="form-control mb-3" /><br />

    <button class="btn btn-primary mb-3" type="submit">Login</button>
</EditForm>

@code {
    private LoginDTO loginModel = new();

    private async Task LoginAsync()
    {
        var result = await AccountService.LoginUserAsync(loginModel);
        var customAuthStateProvider = (CustomAuthState)AuthStateProvider;
        await customAuthStateProvider.updateAuthenticationState(result.Token);
        Navigation.NavigateTo("/", forceLoad: true);
        
    }

}
