.page-title {
    font-size: 35px;
    color: var(--secondary-color);
    text-shadow: 1px 1px 2px var(--primary-color);
}
.add-btn {
    display: flex;
    justify-content: end;
}

.add-btn button{
    box-shadow: 2px 2px 7px var(--primary-color);
    border: none;
    width: 150px;
    height: 50px;
    margin-right: 10px;
}


.list-container {
    border: 2px solid var(--action-color);
    box-shadow: 2px 2px 7px var(--primary-color);
    padding: 15px;
    border-radius: 10px;
    background-color: var(--primary-color);
    margin: 15px 0;
}

.list-container .list {
    display: flex;
    justify-content: space-between;
    color: var(--secondary-color);
    padding: 0px 10px;
}

.list .title-date {
    padding: 5px 10px;
}

.list .title-date p {
    padding: 0 20px;
    line-height: 10\px;
    opacity: .7;
}

.list .action-btn {
    padding: 5px 10px;
    width: 220px;
    display: flex;
    height: 55px;
    margin-top: 10px;
}

.action-btn button {
    width: 90px;
    margin-right: 7px;
}

