@page "/user/profile"
@inject IJSRuntime IJSRuntime

<AuthorizeView>
    <Authorized>
        <div class="body-container">
            <div class="side-bar">
                    <li class="user-action" @onclick='@(() => show("profile"))'>Profile</li>
                    <AuthorizeView Roles="Freelancer">
                        <Authorized Context="freelancer">
                            <li class="user-action" @onclick='@(() => show("portfolio"))'>Portfolio</li>
                        </Authorized>
                    </AuthorizeView>
                    <AuthorizeView Roles="Client">
                        <Authorized Context="client">
                            <li class="user-action" @onclick='@(() => show("company"))'>My Company</li>
                        </Authorized>
                    </AuthorizeView>
            </div>

            <div class="toggle-button" id="toggleButton" @onclick="toggleSidebar">
                ☰
            </div>

            <div class="main-bar">
                
                @if (showProfile) { <Profile /> }
                else if (showPortfolio) { <Portfolio /> }
                else if (showCompany) {<Company /> }

            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        404 page
    </NotAuthorized>
</AuthorizeView>



@code {
    private bool showProfile = true;
    private bool showPortfolio = false;
    private bool showCompany = false;

    private void show(string clicked) {
        if (clicked == "profile") {
            showProfile = true;
            showPortfolio = false;
            showCompany = false;
        } else if (clicked == "portfolio") {
            showProfile = false;
            showPortfolio = true;
            showCompany = false;
        } else if (clicked == "company") {
            showProfile = false;
            showPortfolio = false;
            showCompany = true;
        }
    }

    private async Task toggleSidebar() {
        await IJSRuntime.InvokeVoidAsync("toggleSidebar");
    }

}
