@page "/user/profile"

<div class="body-container">
    <div class="side-bar">
            <li class="user-action">Profile</li>
            <li class="user-action">Portfolio</li>
    </div>

    <div class="main-bar"></div>
</div>


@code {

}
