:root {
    --primary-color: #02061a;
    --primary-hover: #01030ef0;
    --secondary-color: #f8f9fa;
    --third-color: #dedfdf;
    --action-color: #ff531a;
    --card-color: #0a154dfb;
}

* {
    box-sizing: border-box;
}

.hero-container {
    padding: 20px 5% 10px;
    height: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #000000cb;
}

.hero-image {
    width: 100%;
    height: 400px;
    position: absolute;
    z-index: -1;
    background-image: url(../img/img1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-items h1,
.hero-items p
{
    color: var(--action-color);
    text-shadow: 2px 2px 7px #000;
}

.hero-items p {
    color: var(--secondary-color);
    font-size: 20px;
}

.hero-items .hero-actions {
    padding: 30px 0;
}

.hero-actions a {
    text-decoration: none;
    padding: 10px 40px;
    margin: auto 30px;
    border-radius: 10px;
    color: var(--secondary-color);
    border: 2px solid var(--action-color);
    text-shadow: 3px 3px 4px #000;
    box-shadow: 2px 2px 4px var(--action-color);
    transition: .5s;
}

.hero-actions a:hover {
    color: var(--action-color);
    background-color: #000000b9;
    box-shadow: 1px 1px 1px var(--action-color);
}


/* for login page and registeration page */

.login-container {
    border: 1px solid rgba(0, 0, 0, 0);
    height: 70vh;
    background-color: #000000cb;
    /* overflow: auto; */
}


.login-container .hero-image,
.register-container .hero-image {
    height: 70vh;
}


.login-box h1,
.register-box h1 {
    color: var(--secondary-color);
    text-align: center;
    margin-bottom: 25px;
}

.login-box h6,
.register-box h6 {
    text-align: right;
    font-size: 14px;
}

.login-box h6 a,
.register-box h6 a {
    color: var(--action-color);
}

.login-box input,
.login-box button,
.register-box input,
.register-box button,
.save-company-info {
    width: 100%;
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 10px;
}

.login-box button,
.register-box button,
.save-company-info {
    background-color: var(--action-color);
    border: none;
    color: var(--secondary-color);
    font-size: 18px;
    font-weight: 600;
}

.login-box button:hover,
.register-box button:hover,
.save-company-info:hover {
    opacity: 0.8;
    box-shadow: 1px 1px 4px var(--action-color);
}

.user-action {
    border-top: 2px solid var(--action-color);
    padding: 5px 0;
    border-radius: 10px;
}

.user-action a {
    margin: auto;
}

/* new */


.available-jobs, .top-freelancers, .testimonials, .why-choose-us {
    padding: 40px 5%;
    /* background-color: var(--primary-color); */
    color: var(--secondary-color);
    text-align: center;
}

.available-jobs h2, .top-freelancers h2, .testimonials h2, .why-choose-us h2 {
    margin-bottom: 20px;
    color: var(--primary-color);
    text-shadow: 1px 1px 4px var(--primary-color);
    font-size: 40px;
}

.job-list, .freelancer-list, .testimonial-list, .reasons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.job-item, .freelancer-item, .testimonial-item, .reason-item {
    background-color: var(--card-color);
    margin: 10px;
    padding: 40px 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
    width: 400px;
}

.job-item h3, .freelancer-item h3, .testimonial-item h4, .reason-item h3 {
    margin-bottom: 10px;
}

.job-item p, .freelancer-item p, .testimonial-item p, .reason-item p {
    margin-bottom: 20px;
}

.apply-btn, .hire-btn {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: var(--action-color);
    color: var(--secondary-color);
    text-decoration: none;
    transition: 0.3s;
}

.apply-btn:hover, .hire-btn:hover {
    background-color: var(--primary-hover);
}






/* /responsive/ */
@media (max-width: 768px) {
    .hero-container {
        height: auto;
        padding: 15px 3%;
    }
    .hero-image {
        height: 300px;
    }
    .hero-items p {
        font-size: 18px;
    }
    .hero-actions a {
        padding: 8px 30px;
        margin: auto 20px;
    }
    .job-item, .freelancer-item, .testimonial-item, .reason-item {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .hero-container {
        padding: 10px 2%;
    }
    .hero-image {
        height: 200px;
    }
    .hero-items h1 {
        font-size: 24px;
    }
    .hero-items p {
        font-size: 16px;
    }
    .hero-actions a {
        padding: 6px 20px;
        margin: auto 10px;
    }

}