@page "/job/{jobId}/apply"

<NavMenu />

<main>
    <!-- Breadcrumb -->
    <section
    class="w-breadcrumb-area"
    style="
        background: url('img/common/breadcrumb-bg.png') no-repeat
        center center/cover;
    ">
    <div class="container">
        <div class="row">
        <div class="col-auto">
            <div
                class="position-relative z-2" >
                <h2 class="section-title-light mb-2">@Job.Title</h2>
            </div>
        </div>
        </div>
    </div>
    </section>
    <!-- Breadcrumb End -->

    <!-- Login Form -->
    <section class="py-110 bg-offWhite">
        <div class="container">

    <div
    class="modal-fade">
      <div class="modal-dialog modal-lg"
      style="box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1); width: 100%;">
        <div class="modal-content">
          <div class="modal-body" >
            <div class="bg-white p-lg-5 rounded-3">
              <div class="proposal-container">
                <div class="proposal-header">
                  <h3 class="text-dark-300 text-24 fw-bold">Submit Proposal</h3>
                </div>
                <form>
                  <div class="d-flex flex-column gap-4">
                    <!-- Todo Need to add select -->
                    <div class="proposal-input-container">
                      <label for="amount" class="proposal-form-label">Proposal(Cover letter) <span class="text-lime-300">*</span></label>
                      <div class="w-editor-wrapper">
                          <div id="toolbar"></div>
                          <div id="editor" class="ql-container ql-snow">
                              <div class="ql-editor ql-blank" data-gramm="false" contenteditable="true">
                                  <p><br></p>
                              </div>
                              <div class="ql-clipboard" contenteditable="true" tabindex="-1"></div>
                              <div class="ql-tooltip ql-hidden">
                                  <a class="ql-preview" target="_blank" href="about:blank"></a>
                                  <input type="text" data-formula="e=mc^2" data-link="https://quilljs.com" data-video="Embed URL">
                                  <a class="ql-action"></a>
                                  <a class="ql-remove"></a>
                              </div>
                          </div>
                      </div>
                    </div>
                    <div class="proposal-input-container">
                      <label for="amount" class="proposal-form-label">
                        Delivery Time <span class="text-lime-300">*</span>
                      </label>
                      <input
                        type="text"
                        class="form-control shadow-none"
                        placeholder="3 Days"
                      />
                    </div>
                    <div class="proposal-input-container">
                      <label for="amount" class="proposal-form-label">
                        Amount(ETB) <span class="text-lime-300">*</span>
                      </label>
                      <input
                        type="text"
                        class="form-control shadow-none"
                        placeholder="1750.50"
                      />
                    </div>
                    <div
                      class="d-flex gap-4 align-items-center justify-content-end"
                    >
                      <a href="job/@jobId">
                      <button class="w-btn-gray-sm">
                        Cancel
                      </button>
                      </a>
                      <button class="w-btn-secondary-sm">
                        Submit Proposal
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    </section>
    <!-- Login Form End -->
</main>



<Footer />

@code {
    [Parameter]
    public string jobId { get; set; }

    public JobDTO Job = new JobDTO();

    private async Task GetProposalContent()
    {
        var proposal = await JSRuntime.InvokeAsync<string>("getEditorContent");
    }

     protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("initializeEditor");
        }
    }
}