<div class="form-container">
    <h3>@action Portfolio</h3>
        <EditForm Model="portfolioDTO" OnValidSubmit="Save">
            <div class="form-box">
                <div class="left-box">
                    <label>Title: </label>
                    <input @bind="portfolioDTO.Title" type="text" placeholder="College Mgmt system...." required><br />
                    <label>Link: </label>
                    <input @bind="portfolioDTO.Link" type="text" placeholder="https://github.com/repo..."><br />
                </div>
                <div class="right-box">
                    <label>Description: </label>
                    <textarea @bind="portfolioDTO.Description" type="text" /><br />
                </div>
            </div>
            <button class="btn btn-primary">@BtnName</button>
        </EditForm>
</div>

@code {
    [Parameter]
    public string action { get; set; }
    [Parameter]
    public FreelancerPortfolio? portfolio { get; set; }
    private string BtnName = "Save";
    private PortfolioDTO portfolioDTO = new();

    private async Task Save() {
        if (!(portfolioDTO.Title == null)) {
            var authState = await AuthStateProvider.GetAuthenticationStateAsync();
            portfolioDTO.UserId = AccountService.GetLoggedInUserIdAsync(authState).Value;

            if (action == "Add") {
                await PortfolioService.AddPortfolio(portfolioDTO);
                Navigation.NavigateTo("user/profile", forceLoad: true);
            } else if (action == "Edit"){
                await PortfolioService.UpdatePortfolio(portfolioDTO, portfolio.Id);
                Navigation.NavigateTo("user/profile", forceLoad: true);
            }
        } else {
            //display error message
        }
    }

    protected async override Task OnParametersSetAsync() {
        if (portfolio == null) return;

        portfolioDTO.Title = portfolio.Title;
        portfolioDTO.Description = portfolio.Description;
        portfolioDTO.Link = portfolio.Link;

        BtnName = action == "Edit" ? "Save Changes" : BtnName;
    }
}
