<div class="footer-items">
    <div class="item left">
        <h4>Categories</h4>
        <p>some content</p>
    </div>
    <div class="item">
        <h4>About</h4>
        <p>some content</p>
    </div>
    <div class="item right">
        <h4>Contact Us</h4>
        <p>description@email.com</p>
        <p>linkedin</p>
        <p>facebook</p>
    </div>
</div>
