@page "/login"
@inject HttpClient Http
@inject NavigationManager Navigation
@inject ILocalStorageService LocalStorage
@inject AuthStateProvider AuthStateProvider


<EditForm Model="loginModel" OnValidSubmit="HandleLogin">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputText @bind-Value="loginModel.Email" Placeholder="Email" />
    <InputText @bind-Value="loginModel.Password" Placeholder="Password" Type="password" />

    <button type="submit">Login</button>
</EditForm>

@code {
    private LoginDTO loginModel = new LoginDTO();

    private async Task HandleLogin()
    {
        var response = await Http.PostAsJsonAsync("api/Auth/login", loginModel);

        if (response.IsSuccessStatusCode)
        {
            var result = await response.Content.ReadFromJsonAsync<LoginResponseModel>();
            await LocalStorage.SetItemAsync("authToken", result.Token);
            AuthStateProvider.MarkUserAsAuthenticated(result.Token);
            Navigation.NavigateTo(result.RedirectUrl);
        }
    }

    private class LoginResponseModel
    {
        public string RedirectUrl { get; set; }
        public string Token { get; set; }
    }
}
