@inherits LayoutComponentBase

<div class="page">
    <div class="navbar">
        <NavMenu />
    </div>

    <main style="border: 2px solid red;">

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
