@inherits LayoutComponentBase

<div>
    <NavMenu />
    <div>
        <article>
            @Body
        </article>
    </div>
    <Footer />
</div>

<!-- Jquery -->
<script src="js/jquery.min.js"></script>
<!-- Migrate  -->
<script src="js/jquery-migrate.min.js"></script>
<!-- CounterUp  -->
<script src="js/jquery.counterup.min.js"></script>
<!-- Waypoint -->
<script src="js/waypoints.min.js"></script>
<!-- Nice Select -->
<script src="js/jquery.nice-select.min.js"></script>
<!-- Isotope -->
<script src="js/isotope.pkgd.min.js"></script>
<!-- ImgLoaded -->
<script src="js/imagesloaded.pkgd.min.js"></script>
<!-- AOS -->
<script src="js/aos.js"></script>
<!-- Quill Editor -->
<script src="js/quill.js"></script>
<!-- GLightBox -->
<script src="js/glightbox.min.js"></script>
<!-- Popper -->
<script src="js/popper.min.js"></script>
<!-- Bootstrap -->
<script src="js/bootstrap.bundle.min.js"></script>
<!-- Swiper -->
<script src="js/swiper-bundle.min.js"></script>
<!-- Main -->
<script src="js/main.js"></script>

