<!-- Menu Start -->
<header class="header-primary">
    <div class="container">
    <nav class="navbar navbar-expand-xl justify-content-between">
        <a href="/">
        <h2><i>AbronalFreelance</i></h2>
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto">
            <li class="d-block d-xl-none">
            <div class="logo">
                <a href="index-2.html">
                    @* <img src="img/logo/logo-light.svg" alt=""/> *@
                    <h2>AbronalFreelance</h2>
                </a>
            </div>
            </li>
            <AuthorizeView>
                <Authorized>
                    <li class="nav-item">
                        <a
                            class="nav-link"
                            href="/dashboard"
                            role="button"
                            data-bs-auto-close="outside"
                            aria-expanded="false">
                            Dashboard
                        </a>
                    </li>
                </Authorized>
                <NotAuthorized>
                    <li class="nav-item">
                    <a
                        class="nav-link"
                        href="/"
                        role="button"
                        data-bs-auto-close="outside"
                        aria-expanded="false">
                        Home
                    </a>
                    </li>
                </NotAuthorized>
            </AuthorizeView>

            <AuthorizeView Roles="Client">
                <Authorized>
                    <li class="nav-item">
                    <a
                        class="nav-link "
                        href="post-job"
                        role="button"
                        data-bs-auto-close="outside"
                        aria-expanded="false"
                        >Post Jobs</a>
                    </li>
                </Authorized>
                <NotAuthorized>
                    <li class="nav-item">
                    <a class="nav-link" href="find-jobs">Find Jobs</a>
                    </li>
                </NotAuthorized>
            </AuthorizeView>
            <AuthorizeView Roles="Freelancer">
                <NotAuthorized>
                    
                    <li class="nav-item">
                    <a
                        class="nav-link"
                        href="find-freelancer"
                        role="button"
                        data-bs-auto-close="outside"
                        aria-expanded="false">
                        Find Freelancer
                    </a>
                    </li>

                </NotAuthorized>
            </AuthorizeView>
            <li class="nav-item">
            <a
                class="nav-link"
                href="about-us"
                role="button"
                data-bs-auto-close="outside"
                aria-expanded="false">
                About Us</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="contact-us">Contact Us</a>
            </li>
        </ul>
        <AuthorizeView>
            <NotAuthorized>
                <div class="d-flex align-items-center gap-4 mt-4">
                    <div class="d-flex d-lg-none">
                    <a href="login" style="cursor: pointer;" class="header-btn">
                        <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="13"
                        height="17"
                        viewBox="0 0 13 17"
                        fill="none">
                        <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M6.5 7.55556C8.55134 7.55556 10.2143 5.86419 10.2143 3.77778C10.2143 1.69137 8.55134 0 6.5 0C4.44866 0 2.78571 1.69137 2.78571 3.77778C2.78571 5.86419 4.44866 7.55556 6.5 7.55556ZM6.5 17C10.0899 17 13 15.3086 13 13.2222C13 11.1358 10.0899 9.44444 6.5 9.44444C2.91015 9.44444 0 11.1358 0 13.2222C0 15.3086 2.91015 17 6.5 17Z"
                            fill="white"
                        /></svg>Login
                    </a>
                    </div>
                </div>
            </NotAuthorized>
        </AuthorizeView>
        </div>
        <div class="navbar-right d-flex align-items-center gap-4">
        <AuthorizeView>
            <NotAuthorized>
                <div class="align-items-center d-none d-lg-flex">
                    @if (isLogin) {
                        <a href="register" style="cursor: pointer;" class="w-btn-secondary-lg">
                        <svg 
                            xmlns="http://www.w3.org/2000/svg" 
                            width="24" 
                            height="24" 
                            viewBox="0 0 24 24" 
                            fill="none">
                            <path 
                                fill-rule="evenodd" 
                                clip-rule="evenodd" 
                                d="M12 12c2.485 0 4.5-2.015 4.5-4.5S14.485 3 12 3 7.5 5.015 7.5 7.5 9.515 12 12 12zm-7 6c0-1.497 2.684-3 7-3s7 1.503 7 3v2H5v-2zm11-10h3v2h-3v3h-2v-3h-3V8h3V5h2v3z" 
                                fill="white"/>
                        </svg>
                        Sign Up
                    </a>
                    } else {
                    <a href="login" style="cursor: pointer;" class="w-btn-secondary-lg">

                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="13"
                            height="17"
                            viewBox="0 0 13 17"
                            fill="none">
                            <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M6.5 7.55556C8.55134 7.55556 10.2143 5.86419 10.2143 3.77778C10.2143 1.69137 8.55134 0 6.5 0C4.44866 0 2.78571 1.69137 2.78571 3.77778C2.78571 5.86419 4.44866 7.55556 6.5 7.55556ZM6.5 17C10.0899 17 13 15.3086 13 13.2222C13 11.1358 10.0899 9.44444 6.5 9.44444C2.91015 9.44444 0 11.1358 0 13.2222C0 15.3086 2.91015 17 6.5 17Z"
                            fill="white"
                            />
                        </svg>
                        Login
                    </a>
                    }
                </div>
            </NotAuthorized>
        </AuthorizeView>
        <button
            class="navbar-toggler d-block d-xl-none"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation">
            <span></span>
        </button>
        </div>
    </nav>
    </div>
</header>
<!-- Menu End -->

<!-- Secondary Nav -->
<div class="d-none d-xl-block secondary-nav-wrapper">
    <div class="container">
    <div class="position-relative">
        <nav
        class="secondary-nav-container bg-white position-absolute w-100 start-0 z-3 border-top">
        <ul
            class="secondary-nav d-flex justify-content-between align-items-center">
            <li><a href="#">Technology</a></li>
            <li><a href="#">Graphics</a></li>
            <li><a href="#">Marketing</a></li>
            <li><a href="#">Writing</a></li>
            <li><a href="#">Translation</a></li>
            <li><a href="#">Animation</a></li>
            <li><a href="#">Audio</a></li>
            <li><a href="#">Branding</a></li>
            <li><a href="#">Website</a></li>
            <li><a href="#">Programming</a></li>
            <li><a href="#">Business</a></li>
            <li>
            <button
                type="button"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal">
                <svg
                width="38"
                height="38"
                viewBox="0 0 38 38"
                fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <circle cx="19" cy="19" r="19" fill="#F7F5F0" />
                <path
                    d="M17 19C17 20.0178 17.8283 20.8461 18.8462 20.8461C19.864 20.8461 20.6923 20.0178 20.6923 19C20.6923 17.9821 19.864 17.1538 18.8462 17.1538C17.8283 17.1538 17 17.9821 17 19Z"
                    fill="#06131C"/>
                <path
                    d="M17 25.1538C17 26.1716 17.8283 26.9999 18.8462 26.9999C19.864 26.9999 20.6923 26.1716 20.6923 25.1538C20.6923 24.1359 19.864 23.3076 18.8462 23.3076C17.8283 23.3076 17 24.1359 17 25.1538Z"
                    fill="#06131C"/>
                <path
                    d="M17 12.8462C17 13.864 17.8283 14.6923 18.8462 14.6923C19.864 14.6923 20.6923 13.864 20.6923 12.8462C20.6923 11.8283 19.864 11 18.8462 11C17.8283 11 17 11.8283 17 12.8462Z"
                    fill="#06131C"/>
                </svg>
            </button>
            </li>
        </ul>
        </nav>
    </div>
    </div>
</div>
<!-- Secondary Nav End -->


@code {
    [Parameter]
    public bool isLogin { get; set; } = false;
    private void Login() {
        Navigation.NavigateTo("/login", forceLoad: true);
    }
}
