<div class="nav">
    <div class="logo"><a href="/">AbronalFreelance</a></div>
    <div class="nav-menu">
        <ul>
            <AuthorizeView>
                <Authorized>
                    <li><a href="#">Dashboard</a></li>
                    <li><a href="#">Contracts</a></li>
                </Authorized>
                <NotAuthorized>
                    <li><a href="#">Home</a></li>
                </NotAuthorized>
            </AuthorizeView>
            <li><a href="#">How it works</a></li>
            <AuthorizeView Roles="Client">
                <NotAuthorized>
                    <li><a href="#">Find Jobs</a></li>
                </NotAuthorized>
            </AuthorizeView>
            <AuthorizeView Roles="Freelancer">
                <NotAuthorized>
                    <li><a href="#">Find Freelancer</a></li>                
                    <li class="action post-job"><a href="#">Post Job</a></li>
                </NotAuthorized>
            </AuthorizeView>
            <AuthorizeView>
                <Authorized>
                    <div class="user-profile" @onclick="profileAction">
                        @* <img src="img/user.png" alt="user-profile"> *@
                    </div>
                    <div class="user-profile-actions" style="display: @showProfile;">
                        <div class="user-img"></div>
                        <div class="user-actions">
                            <li class="user-action profile"><a href="user/profile" @onclick="profileAction">Edit Profile</a></li>
                            <li class="user-action logout"><a href="logout">Logout</a></li>
                        </div>
                    </div>

                </Authorized>
                <NotAuthorized>
                    <li class="action login"><a href="login">Login</a></li>
                    <li class="action signup"><a href="register">Sign Up</a></li>
                </NotAuthorized>
            </AuthorizeView>
        </ul>
    </div>
</div>


@code {
    private string showProfile = "none";
    private void profileAction() {
        if (showProfile == "none") {
            showProfile = "block";
            return;
        }
        showProfile = "none";
    }
}
