.nav {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    width: 100%;
    padding: 10px 5% 5px;
    color: var(--secondary-color);
}

.logo {
    font-size: 24px;
    font-weight: 600;
    font-style: italic;
}

.logo a {
    text-decoration: none;
    color: var(--secondary-color);
}

.nav-menu ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    list-style: none;
}

.nav-menu ul li {
    /* margin-right: 10px; */
    display: flex;
    cursor: pointer;
}

.nav-menu ul li a {
    text-decoration: none;
    color: var(--text-color);
    /* border: 1px solid red; */
    padding: 5px 10px;
    transition: .3s;
}

.nav-menu ul li:not(.post-job):hover  a{
    color: var(--action-color);
}

.nav-menu .action {
    border-radius: 10px;
}

.nav-menu .post-job,
.nav-menu .login {
    margin-right: 15px;
    padding: 0 10px;
}

.nav-menu .login {
    border: 10px;
    border: 2px solid var(--secondary-color);
}

.nav-menu .login a {
    color: var(--action-color)
} 

.nav-menu .signup {
    border: 10px;
    border: 2px solid var(--action-color);
}

.nav-menu .signup:hover {
    border: 2px solid var(--secondary-color);
} 
.nav-menu .login:hover {
    border: 2px solid var(--action-color);
}

.nav-menu .post-job {
    background-color: var(--action-color);
}

.nav-menu .post-job:hover a {
    color: var(--primary-color);
}

/* .nav-menu .logout {
    margin-left: 30px;
} */

.user-profile {
    cursor: pointer;
    border: 2px solid var(--action-color);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 30px;
}

.user-profile-actions {
    width: 350px;
    height: 400px;
    border: 2px solid var(--action-color);
    border-radius: 10px;
    background-color: var(--primary-color);
    position: absolute;
    top: 65px;
    right: 45px;
    box-shadow: -2px 2px 9px var(--primary-color);
}

.user-profile-actions .user-img {
    width: 100px;
    height: 100px;
    border: 2px solid var(--action-color);
    border-radius: 50%;
    margin: 25px auto; 
}

/*  
 */

.user-actions .user-action {
    border-top: 2px solid var(--action-color);
    padding: 5px 0;
    border-radius: 10px;
}

.user-actions .user-action a {
    margin: auto;
}

.user-profile-actions .user-actions .logout {
    border-bottom: 2px solid var(--action-color);
}

.user-action:hover {
    box-shadow: 0 -1px 4px var(--action-color);
}
