:root {
    --primary-color: #6f42c1;/*content bg*/
    --secondary-color: #ffffff;/*color*/
    --accent-color: #4a2975; /*hover*/
    --background-color: #f8f9fa; /* main bg*/
    --text-color: #333333;/*text color*/
  }
  /* :root {
    --primary-color: #20c997;
    --secondary-color: #ffffff;
    --accent-color: #107361;
    --background-color: #f8f9fa;
    --text-color: #333333;
  }

  :root {
    --primary-color: #28a745;
    --secondary-color: #ffffff;
    --accent-color: #1c7430;
    --background-color: #f8f9fa;
    --text-color: #333333; 
  }

  :root {
    --primary-color: #007bff; 
    --secondary-color: #ffffff;
    --accent-color: #0056b3; 
    --background-color: #f8f9fa;
    --text-color: #333333;
  } */