.footer-items[b-eo39mtzlby] {
    border: 1px solid green;
    display: flex;
    justify-content: space-evenly;
    padding: 20px 50px;
    margin: 3px 0;
    border: 1px solid ;
}

.footer-items .item[b-eo39mtzlby] {
    color: var(--secondary-color);
    width: 30%;
    padding: 5px 20px;
    text-align: center;
}

.footer-items .right[b-eo39mtzlby] {
    text-align: right;
}

.footer-items .left[b-eo39mtzlby] {
    text-align: left;
}


/* Responsive */

@media (max-width: 768px) {
    .footer-items[b-eo39mtzlby] {
        padding: 20px 30px;
    }

    .footer-items .item[b-eo39mtzlby] {
        width: 45%;
        margin-bottom: 20px; 
    }

}

@media (max-width: 511px) {
    .footer-items h4[b-eo39mtzlby] {
        font-size: 18px;
    }

    .footer-items p[b-eo39mtzlby] {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .footer-items[b-eo39mtzlby] {
        padding: 10px 20px;
    }

    .footer-items .item[b-eo39mtzlby] {
        width: 100%;
        text-align: center;
    }

    .footer-items h4[b-eo39mtzlby] {
        font-size: 16px;
    }

    .footer-items p[b-eo39mtzlby] {
        font-size: 12px;
    }
}