.nav[b-0qjqab5lr1] {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    width: 100%;
    padding: 10px 5% 5px;
    color: var(--secondary-color);
}

.logo[b-0qjqab5lr1] {
    font-size: 24px;
    font-weight: 600;
    font-style: italic;
}

.logo a[b-0qjqab5lr1] {
    text-decoration: none;
    color: var(--secondary-color);
}

.nav-menu ul[b-0qjqab5lr1]{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    list-style: none;
}

.nav-menu ul li[b-0qjqab5lr1] {
    /* margin-right: 10px; */
    display: flex;
    cursor: pointer;
}

.nav-menu ul li a[b-0qjqab5lr1] {
    text-decoration: none;
    color: var(--text-color);
    /* border: 1px solid red; */
    padding: 5px 10px;
    transition: .3s;
}

.nav-menu ul li:not(.post-job):hover  a[b-0qjqab5lr1]{
    color: var(--action-color);
}

.nav-menu .action[b-0qjqab5lr1] {
    border-radius: 10px;
}

.nav-menu .post-job[b-0qjqab5lr1],
.nav-menu .login[b-0qjqab5lr1] {
    margin-right: 15px;
    padding: 0 10px;
}

.nav-menu .login[b-0qjqab5lr1] {
    border: 10px;
    border: 2px solid var(--secondary-color);
}

.nav-menu .login a[b-0qjqab5lr1] {
    color: var(--action-color)
} 

.nav-menu .signup[b-0qjqab5lr1] {
    border: 10px;
    border: 2px solid var(--action-color);
}

.nav-menu .signup:hover[b-0qjqab5lr1] {
    border: 2px solid var(--secondary-color);
} 
.nav-menu .login:hover[b-0qjqab5lr1] {
    border: 2px solid var(--action-color);
}

.nav-menu .post-job[b-0qjqab5lr1] {
    background-color: var(--action-color);
}

.nav-menu .post-job:hover a[b-0qjqab5lr1] {
    color: var(--primary-color);
}

/* .nav-menu .logout {
    margin-left: 30px;
} */

.user-profile[b-0qjqab5lr1] {
    cursor: pointer;
    border: 2px solid var(--action-color);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 30px;
}

.user-profile-actions[b-0qjqab5lr1] {
    width: 350px;
    height: 400px;
    border: 2px solid var(--action-color);
    border-radius: 10px;
    background-color: var(--primary-color);
    position: absolute;
    top: 65px;
    right: 45px;
    box-shadow: -2px 2px 9px var(--primary-color);
}

.user-profile-actions .user-img[b-0qjqab5lr1] {
    width: 100px;
    height: 100px;
    border: 2px solid var(--action-color);
    border-radius: 50%;
    margin: 25px auto; 
}




/*  
    more in app.css
 */



.user-profile-actions .user-actions .logout[b-0qjqab5lr1] {
    border-bottom: 2px solid var(--action-color);
}

.user-action:hover[b-0qjqab5lr1] {
    box-shadow: 0 -1px 4px var(--action-color);
}
