@page "/admin"
@using Microsoft.AspNetCore.Authorization

<AuthorizeView Roles="Admin">
    <Authorized>
        <h3>AdminDashboard</h3>
    </Authorized>
    <NotAuthorized>
        404 page
    </NotAuthorized>
</AuthorizeView>

@code {

}
