/* /Pages/Locations.razor.rz.scp.css */
table[b-twgl6rf1ty] {
    width: 70%;
    margin: 20px auto;
}

/* /Pages/Login.razor.rz.scp.css */
.login-box[b-biqt6mjp5a] {
    background-color: var(--primary-color);
    border-radius: 15px;
    border: 1px solid var(--action-color);
    width: 500px;
    margin: 3% auto 0;
    padding: 40px;
    box-shadow: 1px 1px 7px var(--action-color);
}

/* /Pages/MyCompany.razor.rz.scp.css */
.form-container[b-qpq9ivgd6r] {
    background-color: #000000cb;
    display: flex;
    flex-direction: column;
    padding: 30px 0;
}

.form-box[b-qpq9ivgd6r] {
    width: 30%;
    border: 1px solid var(--action-color);
    padding: 40px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 1px 2px 7px var(--action-color);
    background-color: var(--primary-color);
    color: var(--secondary-color)
}

.form-box h2[b-qpq9ivgd6r] {
    text-align: center;
}

.form-data[b-qpq9ivgd6r] {
    margin: 30px 20px;
}

.form-data label[b-qpq9ivgd6r] {
    font-size: 14px;
}

.form-data input[b-qpq9ivgd6r] {
    margin-bottom: 12px;
    padding: 5px 10px;
    background-color: var(--third-color);
    border: none;
    border-radius: 5px;
}

.form-data .name[b-qpq9ivgd6r],
.form-data .tin[b-qpq9ivgd6r] {
    width: 100%;
}

.form-data .loc-options[b-qpq9ivgd6r] {
    width: 80%;
    padding: 0 20px;
}

.form-data .loc-options select[b-qpq9ivgd6r] {
    text-align: left;
    width: 80%;
    padding: 5px;
}

.form-data .loc-options label[b-qpq9ivgd6r] {
    font-size: 14px;
}
/* /Pages/Portfolio.razor.rz.scp.css */
.page-title[b-g6ct15667n] {
    font-size: 35px;
    color: var(--secondary-color);
    text-shadow: 1px 1px 2px var(--primary-color);
}

.add-btn button[b-g6ct15667n]{
    position: relative;
    left: 90%;
    box-shadow: 2px 2px 7px var(--primary-color);
    width: 150px;
}

.add-btn button[b-g6ct15667n] {
    box-shadow: 2px 2px 7px var(--action-color);
}

.list-container[b-g6ct15667n] {
    border: 2px solid var(--action-color);
    box-shadow: 2px 2px 7px var(--primary-color);
    padding: 15px;
    border-radius: 10px;
    background-color: var(--primary-color);
    margin: 15px 0;
}

.list-container .list[b-g6ct15667n] {
    display: flex;
    justify-content: space-between;
    color: var(--secondary-color);
    padding: 0px 10px;
}

.list .title-date[b-g6ct15667n] {
    padding: 5px 10px;
}

.list .title-date p[b-g6ct15667n] {
    padding: 0 20px;
    line-height: 10\px;
    opacity: .7;
}

.list .action-btn[b-g6ct15667n] {
    padding: 5px 10px;
    width: 220px;
    display: flex;
    height: 55px;
    margin-top: 10px;
}

.action-btn button[b-g6ct15667n] {
    width: 90px;
    margin-right: 7px;
}

.action-btn button:hover[b-g6ct15667n] {
    box-shadow: 1px 1px 5px var(--secondary-color);
}
/* /Pages/ProfilePage.razor.rz.scp.css */
.body-container[b-5ibxfxw9r2] {
    height: 100vh;
    display: flex;
    padding: 10px;
    list-style: none;
}

.body-container .side-bar[b-5ibxfxw9r2] {
    background-color: var(--primary-color);
    height: 100%;
    width: 15%;
    margin-right: 5px;
    padding: 40px 10px;
    text-align: center;
    color: var(--secondary-color);
    border-radius:0 35px 0 35px;
    overflow:auto;
}

.side-bar .user-action[b-5ibxfxw9r2] {
    cursor: pointer;
    margin-bottom: 5px;
    transition: .3s;
}

.side-bar .user-action:hover[b-5ibxfxw9r2] {
    color: var(--action-color);
    box-shadow: 0 -1px 6px var(--action-color);
}

.body-container .main-bar[b-5ibxfxw9r2] {
    border-radius: 10px;
    width: 85%;
    padding: 30px;
    background-color: #02071a62;
    overflow: auto;
}


/* /Shared/AddorEditPortfolio.razor.rz.scp.css */
.form-container[b-ukpiwm797k] {
    border: 2px solid var(--action-color);
    padding: 40px;
    border-radius: 10px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.form-box[b-ukpiwm797k] {
    margin: 30px auto;
    padding: 10px 100px;
    display: flex;
}

.form-box .left-box[b-ukpiwm797k] {
    width: 40%;
}

.form-box .left-box input[b-ukpiwm797k] {
    margin: 15px 10px;
    background-color: var(--third-color);
    border-radius: 5px;
    padding: 5px 10px;
    width: 70%;
}

.form-box .right-box[b-ukpiwm797k] {
    width: 60%;
    overflow: scroll;
}

.form-box .right-box textarea[b-ukpiwm797k] {
    width: 80%;
    margin: 10px;
    min-height: 100px;
    overflow: auto;
    max-height: 150px;
    background-color: var(--third-color);
    border-radius: 5px;
}

.form-container button[b-ukpiwm797k] {
    margin: 0 100px;
    width: 200px;
    height: 50px;
}
/* /Shared/Footer.razor.rz.scp.css */
.footer-items[b-eo39mtzlby] {
    border: 1px solid green;
    display: flex;
    justify-content: space-around;
    padding: 20px 50px;
    margin: 3px 0;
    border: 1px solid ;
}

.footer-items .item[b-eo39mtzlby] {
    color: var(--secondary-color);
    width: 30%;
    padding: 5px 20px;
    text-align: center;
}

.footer-items .right[b-eo39mtzlby] {
    text-align: right;
}

.footer-items .left[b-eo39mtzlby] {
    text-align: left;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.footer-container[b-4riwrvcvkx] {
    background-color: var(--primary-hover);
}
/* /Shared/NavMenu.razor.rz.scp.css */
.nav[b-0qjqab5lr1] {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    width: 100%;
    padding: 10px 5% 5px;
    color: var(--secondary-color);
}

.logo[b-0qjqab5lr1] {
    font-size: 24px;
    font-weight: 600;
    font-style: italic;
}

.logo a[b-0qjqab5lr1] {
    text-decoration: none;
    color: var(--secondary-color);
}

.nav-menu ul[b-0qjqab5lr1]{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    list-style: none;
}

.nav-menu ul li[b-0qjqab5lr1] {
    /* margin-right: 10px; */
    display: flex;
    cursor: pointer;
}

.nav-menu ul li a[b-0qjqab5lr1] {
    text-decoration: none;
    color: var(--text-color);
    /* border: 1px solid red; */
    padding: 5px 10px;
    transition: .3s;
}

.nav-menu ul li:not(.post-job):hover  a[b-0qjqab5lr1]{
    color: var(--action-color);
}

.nav-menu .action[b-0qjqab5lr1] {
    border-radius: 10px;
}

.nav-menu .post-job[b-0qjqab5lr1],
.nav-menu .login[b-0qjqab5lr1] {
    margin-right: 15px;
    padding: 0 10px;
}

.nav-menu .login[b-0qjqab5lr1] {
    border: 10px;
    border: 2px solid var(--secondary-color);
}

.nav-menu .login a[b-0qjqab5lr1] {
    color: var(--action-color)
} 

.nav-menu .signup[b-0qjqab5lr1] {
    border: 10px;
    border: 2px solid var(--action-color);
}

.nav-menu .signup:hover[b-0qjqab5lr1] {
    border: 2px solid var(--secondary-color);
} 
.nav-menu .login:hover[b-0qjqab5lr1] {
    border: 2px solid var(--action-color);
}

.nav-menu .post-job[b-0qjqab5lr1] {
    background-color: var(--action-color);
}

.nav-menu .post-job:hover a[b-0qjqab5lr1] {
    color: var(--primary-color);
}

/* .nav-menu .logout {
    margin-left: 30px;
} */

.user-profile[b-0qjqab5lr1] {
    cursor: pointer;
    border: 2px solid var(--action-color);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 30px;
}

.user-profile-actions[b-0qjqab5lr1] {
    width: 350px;
    height: 400px;
    border: 2px solid var(--action-color);
    border-radius: 10px;
    background-color: var(--primary-color);
    position: absolute;
    top: 65px;
    right: 45px;
    box-shadow: -2px 2px 9px var(--primary-color);
}

.user-profile-actions .user-img[b-0qjqab5lr1] {
    width: 100px;
    height: 100px;
    border: 2px solid var(--action-color);
    border-radius: 50%;
    margin: 25px auto; 
}




/*  
    more in app.css
 */



.user-profile-actions .user-actions .logout[b-0qjqab5lr1] {
    border-bottom: 2px solid var(--action-color);
}

.user-action:hover[b-0qjqab5lr1] {
    box-shadow: 0 -1px 4px var(--action-color);
}
/* /Shared/Register.razor.rz.scp.css */
.register-container[b-f8nox774gz] {
    background-color: #00000059;
}

.register-box[b-f8nox774gz] {
    background-color: var(--primary-color);
    border-radius: 15px;
    margin:auto;
    width: 80%;
    padding: 40px;
    box-shadow: 1px 1px 7px var(--action-color);
}

.form-group[b-f8nox774gz] {
    margin: auto;
    display: flex;
    justify-content: space-around;
    padding: 25px;
}

.form-group .left-form[b-f8nox774gz],
.form-group .right-form[b-f8nox774gz] {
    width: 40%;
    padding: 15px;
}

.register-box label[b-f8nox774gz] {
    color: var(--secondary-color);
    font-size: 14px;
}

.register-box input[b-f8nox774gz] {
    border: none;
    border-radius: 5px;
    width: 100%;
    padding: 5px 15px;
    font-size: 14px;
    background-color: var(--third-color);
}

.company-form[b-f8nox774gz] {
    margin: auto;
    padding: 25px;
    text-align: center;
}

.company-form input[b-f8nox774gz] {
    padding: 5px 15px;
    width: 60%;
}

.register-box .signup-btn[b-f8nox774gz] {
    width: 60%;
    padding: 5px 0;
    margin: 0 auto;
}

/* the role option  */
.option-container[b-f8nox774gz] {
    padding: 60px 0;
}

.option-box[b-f8nox774gz] {
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin: auto;
    padding: 60px 0;
    color: var(--secondary-color);
    border-radius: 10px;
    background-color: var(--primary-color);
}

.option-container h2[b-f8nox774gz] {
    text-align: center;
    color: var(--secondary-color);
    margin-bottom: 20px;
}

.option-box .option[b-f8nox774gz] {
    border: 2px solid var(--action-color);
    width: 40%;
    text-align: center;
    padding: 40px 20px;
    border-radius: 10px;
    transition: .5s;
    cursor: pointer;
}

.option-box .option:hover[b-f8nox774gz] {
    box-shadow: 2px 2px 9px var(--action-color);
} 
